{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> About Us </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> ABOUT </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Service Area Starts <<===== 
    =========================== -->
    <section class="about-service-area pt-120 pb-120">
        <div class="container">
            <div class="section-title">
                <h2 class="section-heading"> We Provided Best Service For Good Health </h2>
                <p class="section-para"> Lorem ipsum dolor sit amet, nunc sodales massa turpis cursuialis ur nam. Ultricies sapien fusce vitae duis, ut torquent a. Pede nec libero tristique, eget fusce </p>
            </div>
            <div class="row mt-3 mt-lg-4 align-items-center">
                <div class="col-lg-6 mt-4 wow animated slideInLeft" data-wow-delay=".3s">
                    <div class="about-service-slider">
                        <div class="single-about-service">
                            <img src="/static/assets/img/about/services.jpg" alt="">
                        </div>
                        <div class="single-about-service">
                            <img src="/static/assets/img/about/services.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="about-contents">
                        <h3 class="about-service-headings">Benefits of Services</h3>
                        <div class="about-service-border"></div>
                        <p class="common-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna vicras. Ipsum sociosqu. Mi consequat nec, per urna sed vitae mi lectusn egestas, in consectetuer sed. Nunc id venenatis </p>
                        <ul class="about-service-list">
                            <li> <i class="las la-check"></i> Liver Function Tests. The Liver Function Tests (LFT)ed </li>
                            <li> <i class="las la-check"></i> Full Blood Examination. </li>
                            <li> <i class="las la-check"></i> TSH (Thyroid Stimulating Hormone) Quantification Urinalysis. </li>
                            <li> <i class="las la-check"></i> INR (International Normalized Ratio) </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Service Area End <<===== 
    =========================== -->
    <!-- =====>> Pricing Area End <<===== 
    =========================== -->
    <section class="pricing-area bg--section pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Choose Pricing Plan </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mt-lg-4">
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-pricing">
                        <div class="pricing-top">
                            <span class="price-title"> Basic </span>
                            <h2 class="pricing-price"> <sup>$</sup> 57 <sub>/month</sub> </h2>
                        </div>
                        <ul class="pricing-list">
                            <li> <i class="las la-check"></i> Liver Function Tests. </li>
                            <li> <i class="las la-check"></i> Full Blood Examination. </li>
                            <li> <i class="las la-check"></i> TSH (Thyroid Stimulating </li>
                            <li> <i class="las la-check"></i> INR (International Normalized </li>
                        </ul>
                        <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> BUY NOW </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-pricing">
                        <div class="pricing-top">
                            <span class="price-title"> Standard </span>
                            <h2 class="pricing-price"> <sup>$</sup> 86 <sub>/month</sub> </h2>
                        </div>
                        <ul class="pricing-list">
                            <li> <i class="las la-check"></i> Liver Function Tests. </li>
                            <li> <i class="las la-check"></i> Full Blood Examination. </li>
                            <li> <i class="las la-check"></i> TSH (Thyroid Stimulating </li>
                            <li> <i class="las la-check"></i> INR (International Normalized </li>
                        </ul>
                        <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> BUY NOW </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-pricing">
                        <div class="pricing-top">
                            <span class="price-title"> Premium </span>
                            <h2 class="pricing-price"> <sup>$</sup> 98 <sub>/month</sub> </h2>
                        </div>
                        <ul class="pricing-list">
                            <li> <i class="las la-check"></i> Liver Function Tests. </li>
                            <li> <i class="las la-check"></i> Full Blood Examination. </li>
                            <li> <i class="las la-check"></i> TSH (Thyroid Stimulating </li>
                            <li> <i class="las la-check"></i> INR (International Normalized </li>
                        </ul>
                        <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> BUY NOW </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Pricing Area End <<===== 
    =========================== -->
    <!-- =====>> Experience Area Starts <<===== 
    =========================== -->
    <section class="experience-area pt-100 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-12">
                    <div class="row justify-content-lg-center">
                        <div class="col-xl-6 col-lg-3 col-sm-6 mt-4 wow animated slideInDown" data-wow-delay=".3s">
                            <div class="experience-images">
                                <img src="/static/assets/img/about/experience1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-3 col-sm-6 mt-4 wow animated slideInDown" data-wow-delay=".2s">
                            <div class="experience-images">
                                <img src="/static/assets/img/about/experience2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-3 col-sm-6 mt-4 wow animated slideInUp" data-wow-delay=".2s">
                            <div class="experience-images">
                                <img src="/static/assets/img/about/experience3.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-3 col-sm-6 mt-4 wow animated slideInUp" data-wow-delay=".3s">
                            <div class="experience-images">
                                <img src="/static/assets/img/about/experience4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 mt-5 mt-xl-4">
                    <div class="experience-wrapper">
                        <div class="section-title text-left">
                            <h2 class="section-heading"> 30 Years More Services experiences </h2>
                            <div class="section-border"></div>
                            <p class="section-para"> Suspendisse nulla praesent, neque volutpat lacinia libero nullam ut, in auctor nonummy mi augu massa ult tellus ut integer ultrices facilisis semper. </p>
                        </div>
                        <div class="experience-line-progress">
                            <div class="single-progress">
                                <h5 class="progress-title"> Heart Surgery </h5>
                                <div class="line-progress line-progress1"></div>
                            </div>
                            <div class="single-progress">
                                <h5 class="progress-title"> Laborate Analysis </h5>
                                <div class="line-progress line-progress2"></div>
                            </div>
                            <div class="single-progress">
                                <h5 class="progress-title"> Customer Support </h5>
                                <div class="line-progress line-progress3"></div>
                            </div>
                            <div class="single-progress">
                                <h5 class="progress-title"> Medical Research </h5>
                                <div class="line-progress line-progress4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Experience Area End <<===== 
    =========================== -->
    <!-- =====>> Newsletter Area Starts <<===== 
    =========================== -->
    <section class="newsletter-area bg-base--section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="newsletter-wrapper">
                        <h2 class="newsletter-title"> Singup for Our Newsletter </h2>
                        <form class="newsletter-form" action="#">
                            <input class="form--control form-control" type="text" name="email" placeholder="Enter Your Email">
                            <button type="submit"> <i class="lab la-telegram-plane"></i> </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Newsletter Area End <<===== 
    =========================== -->
    <!-- =====>> BLog Area Starts <<===== 
    =========================== -->
    <section class="blog-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Latest News & Tips </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mt-lg-4">
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="/static/assets/img/home/blog1.jpg" alt="">
                        </a>
                        <span class="blog-dates"> 24 March 2020 </span>
                        <div class="blog-contents">
                            <ul class="blog-tags">
                                <li>
                                    <a href="javascript:void(0)"> By Admin </a></li>
                                <li>
                                    <a href="javascript:void(0)"> Doctor , Clinic </a></li>
                            </ul>
                            <h4 class="common-title"> <a href="blog-details.html"> Medical and Love Have 4 Things In Common </a> </h4>
                            <p class="common-para"> consequat vulputate eget metumpeng magna commodo purus etiam. </p>
                            <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="/static/assets/img/home/blog2.jpg" alt="">
                        </a>
                        <span class="blog-dates"> 28 March 2020 </span>
                        <div class="blog-contents">
                            <ul class="blog-tags">
                                <li>
                                    <a href="javascript:void(0)"> By Admin </a></li>
                                <li>
                                    <a href="javascript:void(0)"> Health , Medical </a></li>
                            </ul>
                            <h4 class="common-title"> <a href="blog-details.html"> 22 Tips To Start Building A Medical </a> </h4>
                            <p class="common-para"> consequat vulputate eget metumpeng magna commodo purus etiam. </p>
                            <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="/static/assets/img/home/blog3.jpg" alt="">
                        </a>
                        <span class="blog-dates"> 30 March 2020 </span>
                        <div class="blog-contents">
                            <ul class="blog-tags">
                                <li>
                                    <a href="javascript:void(0)"> By Admin </a></li>
                                <li>
                                    <a href="javascript:void(0)"> Care , Surgery </a></li>
                            </ul>
                            <h4 class="common-title"> <a href="blog-details.html"> Being A Star In You dustry Is A Matter </a> </h4>
                            <p class="common-para"> consequat vulputate eget metumpeng magna commodo purus etiam. </p>
                            <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> BLog Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    {% endblock %}
