{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Blog Post </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> BLOG POST </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Blog Area Starts <<===== 
    =========================== -->
    <section class="blog-post-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xxl-7 col-lg-8">
                    <div class="blog-left-contents">
                        <div class="single-blog blog-style-two">
                            <a href="blog-details.html" class="blog-image">
                                <img src="/static/assets/img/blogs/blog1.jpg" alt="">
                            </a>
                            <span class="blog-dates"> 28 March 2020 </span>
                            <div class="blog-contents">
                                <h4 class="common-title"> <a href="blog-details.html"> World Best Operation Theatre In Here </a> </h4>
                                <ul class="blog-tags">
                                    <li>
                                        <a href="javascript:void(0)"> By Admin </a></li>
                                    <li>
                                        <a href="javascript:void(0)"> Doctor , Clinic </a></li>
                                </ul>
                                <p class="common-para"> Quis aenean, a cursus ut ultrices felis mauris metus, nascetur erat, vulputate sed luctus vevamus harum vitae. Auctor etiam magna. Leo orci lorem posuere. Pede ligula vitae placerat vestibulum sollicitudin facilisis, nec
                                    euismod faucibus viverra </p>
                                <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                            </div>
                        </div>
                        <div class="single-blog blog-style-two">
                            <a href="blog-details.html" class="blog-image">
                                <img src="/static/assets/img/blogs/blog2.jpg" alt="">
                            </a>
                            <span class="blog-dates"> 29 March 2020 </span>
                            <div class="blog-contents">
                                <h4 class="common-title"> <a href="blog-details.html"> At Last, The Sectet To Medical Is Revealed </a> </h4>
                                <ul class="blog-tags">
                                    <li>
                                        <a href="javascript:void(0)"> By Admin </a></li>
                                    <li>
                                        <a href="javascript:void(0)"> Doctor , Clinic </a></li>
                                </ul>
                                <p class="common-para"> Quis aenean, a cursus ut ultrices felis mauris metus, nascetur erat, vulputate sed luctus vevamus harum vitae. Auctor etiam magna. Leo orci lorem posuere. Pede ligula vitae placerat vestibulum sollicitudin facilisis, nec
                                    euismod faucibus viverra </p>
                                <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                            </div>
                        </div>
                        <div class="single-blog blog-style-two">
                            <a href="blog-details.html" class="blog-image">
                                <img src="/static/assets/img/blogs/blog3.jpg" alt="">
                            </a>
                            <span class="blog-dates"> 30 March 2020 </span>
                            <div class="blog-contents">
                                <h4 class="common-title"> <a href="blog-details.html"> Essential Smartphone Apps </a> </h4>
                                <ul class="blog-tags">
                                    <li>
                                        <a href="javascript:void(0)"> By Admin </a></li>
                                    <li>
                                        <a href="javascript:void(0)"> Doctor , Clinic </a></li>
                                </ul>
                                <p class="common-para"> Quis aenean, a cursus ut ultrices felis mauris metus, nascetur erat, vulputate sed luctus vevamus harum vitae. Auctor etiam magna. Leo orci lorem posuere. Pede ligula vitae placerat vestibulum sollicitudin facilisis, nec
                                    euismod faucibus viverra </p>
                                <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                            </div>
                        </div>
                        <div class="single-blog blog-style-two">
                            <a href="blog-details.html" class="blog-image">
                                <img src="/static/assets/img/blogs/blog4.jpg" alt="">
                            </a>
                            <span class="blog-dates"> 31 March 2020 </span>
                            <div class="blog-contents">
                                <h4 class="common-title"> <a href="blog-details.html"> Take The Stress Our Of Health </a> </h4>
                                <ul class="blog-tags">
                                    <li>
                                        <a href="javascript:void(0)"> By Admin </a></li>
                                    <li>
                                        <a href="javascript:void(0)"> Doctor , Clinic </a></li>
                                </ul>
                                <p class="common-para"> Quis aenean, a cursus ut ultrices felis mauris metus, nascetur erat, vulputate sed luctus vevamus harum vitae. Auctor etiam magna. Leo orci lorem posuere. Pede ligula vitae placerat vestibulum sollicitudin facilisis, nec
                                    euismod faucibus viverra </p>
                                <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                            </div>
                        </div>
                        <ul class="blog-pagination">
                            <li> <a class="active" href="javascript:void(0)"> 1 </a> </li>
                            <li> <a href="javascript:void(0)"> 2 </a> </li>
                            <li> <a href="javascript:void(0)"> 3 </a> </li>
                            <li> <a href="javascript:void(0)"> 4 </a> </li>
                            <li> <a href="javascript:void(0)"> 5 </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-5 col-lg-4 mt-5 mt-lg-0">
                    <div class="blog-right-contents">
                        <div class="single-blog-right">
                            <form action="#" class="search-form">
                                <input class="form--control form-control" type="text" name="search" placeholder="Type Keyword">
                                <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </form>
                            <div class="single-right-details">
                                <h5 class="single-right-title"> News Categories </h5>
                                <div class="details-right-post">
                                    <div class="post-flex-content">
                                        <a href="blog-details.html" class="post-images">
                                            <img src="/static/assets/img/blogs/blog-small1.jpg" alt="">
                                        </a>
                                        <div class="post-contents">
                                            <h6 class="post-title fw-66"> <a href="blog-details.html"> Accumsan condimtum. Maecenas </a> </h6>
                                            <ul class="post-list">
                                                <li> <a href="blog-details.html"> Post By Admin </a> </li>
                                                <li> <a href="blog-details.html"> 15 Dec 2020 </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post-flex-content">
                                        <a href="blog-details.html" class="post-images">
                                            <img src="/static/assets/img/blogs/blog-small2.jpg" alt="">
                                        </a>
                                        <div class="post-contents">
                                            <h6 class="post-title fw-66"> <a href="blog-details.html"> Quisque elit nonet ligula in accumsan </a> </h6>
                                            <ul class="post-list">
                                                <li> <a href="blog-details.html"> Post By Admin </a> </li>
                                                <li> <a href="blog-details.html"> 28 Dec 2020 </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post-flex-content">
                                        <a href="blog-details.html" class="post-images">
                                            <img src="/static/assets/img/blogs/blog-small3.jpg" alt="">
                                        </a>
                                        <div class="post-contents">
                                            <h6 class="post-title fw-66"> <a href="blog-details.html"> Curabitur luctus sollicidin neque tellus. </a> </h6>
                                            <ul class="post-list">
                                                <li> <a href="blog-details.html"> Post By Admin </a> </li>
                                                <li> <a href="blog-details.html"> 09 Dec 2020 </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-right-details">
                                <h5 class="single-right-title"> Popular Post </h5>
                                <ul class="details-right-list">
                                    <li><a href="javascript:void(0)"> All News <span> (25) </span> </a></li>
                                    <li><a href="javascript:void(0)"> Cardiology <span> (14) </span> </a></li>
                                    <li><a href="javascript:void(0)"> Medical Research <span> (30) </span> </a></li>
                                    <li><a href="javascript:void(0)"> Health Tips <span> (22) </span> </a></li>
                                    <li><a href="javascript:void(0)"> Medical Report <span> (45) </span> </a></li>
                                </ul>
                            </div>
                            <div class="single-right-details">
                                <h5 class="single-right-title"> News Tag </h5>
                                <ul class="blog-tag-lists">
                                    <li>
                                        <a href="javascript:void(0)"> Medical </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> Cardiology </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> Doctors </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> Live Support </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> Medical Research </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Blog Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
   {% endblock %}
