{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Blog Details </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> <a href="blog.html"> BLOG </a> </li>
                    <li> <i class="las la-angle-double-right"></i> BLOG DETAILS </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Blog Area Starts <<===== 
    =========================== -->
    <section class="blog-post-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xxl-7 col-lg-8">
                    <div class="blog-details-left-contents">
                        <div class="single-blog blog-style-two blog-style-three">
                            <a href="javascript:void(0)" class="blog-image">
                                <img src="/static/assets/img/blogs/blog-details1.jpg" alt="">
                            </a>
                            <span class="blog-dates"> 28 March 2020 </span>
                            <div class="blog-contents">
                                <h4 class="common-title"> <a href="javascript:void(0)"> World Best Operation Theatre In Here </a> </h4>
                                <ul class="blog-tags">
                                    <li>
                                        <a href="javascript:void(0)"> By Admin </a></li>
                                    <li>
                                        <a href="javascript:void(0)"> Doctor , Clinic </a></li>
                                </ul>
                                <p class="common-para"> Quis aenean, a cursus ut ultrices felis mauris metus, nascetur erat, vulputate sed luctus vevamus harum vitae. Auctor etiam magna. Leo orci lorem posuere. Pede ligula vitae placerat vestibulum sollicitudin facilisis, nec
                                    euismod faucibus viverra ctus pulvinar lacus et mi in interdum, volutpat vitae lorem viverra, in et ad ipsum habitasse orci quisque. Odio augue ut felis netus ratione. Dignissim cursus, velit metus, porta ad nec magna
                                    volutpat molestie ligula, lorem et cubilia cras sapien nunc. Quam vestibulum integer, curabitur in in. Magna dignissim diam nibh, sed sed urna </p>
                                <p class="common-para"> cras lectus amet tellus, aliquam porttitor lacinia velit blandit, orci odio justo, vel enim sed sed. Donec erat in libero. Nunc fusce laoreet lectus nam nam, et aut neque fusce, non libero sed luctus aptent. Fusce vitae
                                    integer vestibulum nisl mauris sit, integer donec, posuere vel, lobortis dictum. Eros aenean a. Tempor at feugiat arcu, pretium pharetra et sociis. Curabitur urna odio cum, ultricies rutrum ped </p>
                            </div>
                        </div>
                        <div class="blog-details-contents">
                            <h4 class="details-single-title fw-600"> Your doctor Is About To Stop Being Relevant </h4>
                            <p class="common-para"> Aliquam eleifend ante, accumsan condimentum. Maecenas constetuer in in nec id, vestibulum in nibh nec, quam condimentum odio vitae, turpis mus porttitor, convallis est nulla. Tellus justlacus cras id ac fringilla, nunc justo
                                mauris eget sagittis, pellentesque quis ornare mauris pellentesque accumsan vel. Wisi non sodales vulputate laoreet massa mollis, in in sed fringilla, justo vestibulum mi, eget eu vero urna justo. Leo justo parturient lorem,
                                eleifend metus nulla </p>
                            <div class="row mt-3 mb-4">
                                <div class="col-lg-6 mt-4">
                                    <div class="details-content-img">
                                        <img src="/static/assets/img/blogs/blog-details2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-4">
                                    <div class="details-content-img">
                                        <img src="/static/assets/img/blogs/blog-details3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <p class="common-para"> maecenas auctor, dui diam lacinia risus, condimentum maecenas a. Id nulla sollicitudin quis, pellentesque placerat scelerisque suspendisse proin eget, suspendisse nulla maecenas eget consectetuer a. Integer pede semper posuere
                                nonummy volutpat, aenean id pellentesque nonummy lectus nulla donec sem, lacinia euismod amet in risus. Diam error molestie consequat suscipit, amet vivamus ad gravida nibh euismod, congue interdum ut erat. Aliquam sed
                                in, quisque elit non, et ligula in accumsan scelerisque consectetuer </p>
                        </div>
                        <div class="details-tags-area">
                            <ul class="single-details-tags">
                                <li> <strong> News Tag: </strong> </li>
                                <li> <a href="javascript:void(0)"> Doctor </a> </li>
                                <li> <a href="javascript:void(0)"> Hospital </a> </li>
                            </ul>
                            <ul class="tags-socials">
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-pinterest"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-linkedin-in"></i> </a>
                                </li>
                            </ul>
                        </div>
                        <div class="blog-details-comments">
                            <div class="single-details-comment">
                                <h4 class="common-title fw-600"> 02 Comments </h4>
                                <div class="single-comments">
                                    <div class="comments-flex-contents">
                                        <div class="comment-image">
                                            <img src="/static/assets/img/blogs/comments1.jpg" alt="">
                                        </div>
                                        <div class="comments-content">
                                            <div class="comments-replay">
                                                <div class="comments-name-single">
                                                    <h5 class="coment-names fw-600"> Raja Miya </h5>
                                                    <span class="comment-time fw-600"> 10 Hours Ago </span>
                                                </div>
                                                <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Replay </a>
                                            </div>
                                            <p class="common-para"> Lorem ipsum dolor sit amet, lobortis nulla lorem, sed ac facilisis aenean. Puru lectus diam fermentum, orci massa, vulputate non amet lectus non ullamco </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comments">
                                    <div class="comments-flex-contents">
                                        <div class="comment-image">
                                            <img src="/static/assets/img/blogs/comments2.jpg" alt="">
                                        </div>
                                        <div class="comments-content">
                                            <div class="comments-replay">
                                                <div class="comments-name-single">
                                                    <h5 class="coment-names fw-600"> Hanif Khan </h5>
                                                    <span class="comment-time fw-600"> 15 Jun 2020 </span>
                                                </div>
                                                <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Replay </a>
                                            </div>
                                            <p class="common-para"> Lorem ipsum dolor sit amet, lobortis nulla lorem, sed ac facilisis aenean. Puru lectus diam fermentum, orci massa, vulputate non amet lectus non ullamco </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-details-comment">
                                <h4 class="common-title fw-600"> Leave A Comment </h4>
                                <form class="comment-form" action="#">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-form">
                                                <input class="form--control form-control" type="text" name="name" placeholder="Name*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="single-form">
                                                <input class="form--control form-control" type="text" name="email" placeholder="Email*">
                                            </div>
                                        </div>
                                    </div>
                                    <textarea name="message" class="form--control form-control form--message" placeholder="Write Message"></textarea>
                                    <button type="submit"> POST A COMMENT </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 col-lg-4 mt-5 mt-lg-0">
                    <div class="blog-right-contents">
                        <div class="single-blog-right">
                            <form action="#" class="search-form">
                                <input class="form--control form-control" type="text" name="search" placeholder="Type Keyword">
                                <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </form>
                            <div class="single-right-details">
                                <h5 class="single-right-title"> News Categories </h5>
                                <div class="details-right-post">
                                    <div class="post-flex-content">
                                        <a href="blog-details.html" class="post-images">
                                            <img src="/static/assets/img/blogs/blog-small1.jpg" alt="">
                                        </a>
                                        <div class="post-contents">
                                            <h6 class="post-title fw-66"> <a href="blog-details.html"> Accumsan condimtum. Maecenas </a> </h6>
                                            <ul class="post-list">
                                                <li> <a href="blog-details.html"> Post By Admin </a> </li>
                                                <li> <a href="blog-details.html"> 15 Dec 2020 </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post-flex-content">
                                        <a href="blog-details.html" class="post-images">
                                            <img src="/static/assets/img/blogs/blog-small2.jpg" alt="">
                                        </a>
                                        <div class="post-contents">
                                            <h6 class="post-title fw-66"> <a href="blog-details.html"> Quisque elit nonet ligula in accumsan </a> </h6>
                                            <ul class="post-list">
                                                <li> <a href="blog-details.html"> Post By Admin </a> </li>
                                                <li> <a href="blog-details.html"> 28 Dec 2020 </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post-flex-content">
                                        <a href="blog-details.html" class="post-images">
                                            <img src="/static/assets/img/blogs/blog-small3.jpg" alt="">
                                        </a>
                                        <div class="post-contents">
                                            <h6 class="post-title fw-66"> <a href="blog-details.html"> Curabitur luctus sollicidin neque tellus. </a> </h6>
                                            <ul class="post-list">
                                                <li> <a href="blog-details.html"> Post By Admin </a> </li>
                                                <li> <a href="blog-details.html"> 09 Dec 2020 </a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-right-details">
                                <h5 class="single-right-title"> Popular Post </h5>
                                <ul class="details-right-list">
                                    <li><a href="javascript:void(0)"> All News <span> (25) </span> </a></li>
                                    <li><a href="javascript:void(0)"> Cardiology <span> (14) </span> </a></li>
                                    <li><a href="javascript:void(0)"> Medical Research <span> (30) </span> </a></li>
                                    <li><a href="javascript:void(0)"> Health Tips <span> (22) </span> </a></li>
                                    <li><a href="javascript:void(0)"> Medical Report <span> (45) </span> </a></li>
                                </ul>
                            </div>
                            <div class="single-right-details">
                                <h5 class="single-right-title"> News Tag </h5>
                                <ul class="blog-tag-lists">
                                    <li>
                                        <a href="javascript:void(0)"> Medical </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> Cardiology </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> Doctors </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> Live Support </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> Medical Research </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Blog Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
   {% endblock %}
