{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Contact With Us </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> CONTACT </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Contact Area Starts <<===== 
    =========================== -->
    <div class="contact-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="contact-form-wrapper">
                        <h3 class="contact-form-title"> Send Message </h3>
                        <div class="section-border"></div>
                        <form action="/contact/" method="post" class="custom-form contact--form">
                            {% csrf_token %}
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="name" placeholder="Your Name">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="email" placeholder="Email">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="phonenumber" placeholder="Phone Number">
                            </div>
                            <div class="single-appoinment">
                                <textarea class="form--control form-control form--message" name="message" placeholder="Write Messages"></textarea>
                            </div>
                            <button type="submit"> SEND MESSAGES </button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <div class="contact-address-wrapper">
                        <div class="row gy-4">
                            <div class="col-lg-6">
                                <div class="single-contact-address">
                                    <h4 class="address-title fw-600 fs-22"> Office Address </h4>
                                    <span class="address-para"> 4920 Northwest 2 Avenue Medford, MN 55049 kigkong,USA </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-contact-address">
                                    <h4 class="address-title fw-600 fs-22"> Phone Number </h4>
                                    <span class="address-para"> <a href="tel:+888555333096545245"> +888-555-333 096545245 </a> </span>
                                    <span class="address-para"> <a href="tel:45784521"> 878454545 , 45784521 </a> </span>
                                    <span class="address-para"> <a href="tel:02-3254789645"> 02-3254789645 </a> </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-contact-address">
                                    <h4 class="address-title fw-600 fs-22"> Email Address </h4>
                                    <span class="address-para"> <a href="https://template.viserlab.com/cdn-cgi/l/email-protection#c5b2b2b2ebb7a0abb185a2a8a4aca9a8aca9eba6aaa8"> <span class="__cf_email__" data-cfemail="77000000590512190337101a161e1b1a1e1b5914181a">[email&#160;protected]</span> </a> </span>
                                    <span class="address-para"> <a href="https://template.viserlab.com/cdn-cgi/l/email-protection#3740404019455259435259444247475845431954585a"> www.rentensupport.com </a> </span>
                                    <span class="address-para"> <a href="https://template.viserlab.com/cdn-cgi/l/email-protection#8bedeae8eee9e4e4e0a4f9eee5ffeee5a5e5eeff"> facebook/renten.net </a> </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-contact-address">
                                    <h4 class="address-title fw-600 fs-22"> Fax Number </h4>
                                    <span class="address-para"> 4920 Northwest 2 Avenue Medford, MN 55049 kigkong,USA </span>
                                </div>
                            </div>
                        </div>
                        <div class="contact-calling-wrapper">
                            <h3 class="call-title fw-600"> Call Now:
                                <a href="tel:+000999555"> +000-999-555 </a>
                            </h3>
                            <div class="calling-input">
                                <input class="form-input" type="tel" name="phone" placeholder="Enter Number">
                                <a class="calling-button" href="javascript:void(0)"> Free Call Back </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Contact Area End <<===== 
    =========================== -->
    <!-- =====>> Contact Map Area End <<===== 
    =========================== -->
    <div class="contact-map-area">
        <div class="container-fluid p-0">
            <div id="basic-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62416.425842746954!2d75.11403094999991!3d12.110330474515825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba46c2eef36b64b%3A0x1dda4f05e96df77c!2sAnaamaya%20Medical%20Institute!5e0!3m2!1sen!2sin!4v1678169207259!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <!-- =====>> Contact Map Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
    {% endblock %}
