{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Our Doctors </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> DOCTOR </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Doctors Area Starts <<===== 
    =========================== -->
    <section class="doctors-area pt-120 pb-120">
        <div class="container">
             
            <div class="row gy-4">
                {% for x in data %}
                
                <div class="col-lg-4 col-md-6 wow animated slideInDown" data-wow-delay=".2s">
                    <div class="single-doctors">
                        <div class="doctors-image">
                            <img src="{{x.image.url}}" width="148" height="127" alt="">
                        </div>
                        <div class="doctor-contents">
                            <h4 class="common-title"  class="btn btn-primary"  data-toggle="modal" data-target="#example{{forloop.counter}}"> <a href="#" class="text-uppercase"> {{x.doctorname}}</a> </h4>
                            <span class="doctor-title" style="text-transform: uppercase;"> {{x.department.department}} </span>
                            <p class="common-para" style="text-transform: uppercase;"> {{x.qualification}} </p>
                           
                        </div>
                         
                    </div>
                </div>
               
                
                <div class="modal fade" id="example{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      
    <div class="modal-content">
    <div class="modal-header">
         <h5 class="modal-title"> Book Appoinment  </h5>
           
      </div>
      <div class="modal-body">
    <div class="col-xxl-6 col-lg-5 mt-5 mt-lg-0">
                    <div class="doctor-appoinment">
                        <div class="appoinment-inner">
                           
                            <div class="appoinment-border"></div>
                            <div class="appoinment-form">
                                <form action="/appoinment/?did={{x.id}}" method="post" class="custom-form">
                                    {% csrf_token %}
                                  
                                    <div class="single-appoinment" style="width: 250% !important">
                                        <input class="form--control form-control" type="text" name="name" placeholder="Full Name">
                                    </div>
                                    <div class="single-appoinment" style="width: 250% !important">
                                        <input class="form--control form-control" type="text" name="email" placeholder="Email">
                                    </div>
                                    <div class="single-appoinment" style="width: 250% !important">
                                        <input class="form--control form-control" type="tel" name="phone" placeholder="Phone Number">
                                    </div>
                                    <div class="single-appoinment" style="width: 250% !important">
                                        <input class="form--control form-control date-input" name="date" data-date-format="yyyy-mm-dd" placeholder="Appoinment Date">
                                    </div>
                                   
                                
                            </div>
                        </div>
                    </div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="submit"  class="btn btn-primary"> BOOK YOUR APPOINMENT </button>
        </form>
      </div>
    </div>
  </div>
</div>

 {% endfor %}
               
            </div>
        </div>
    </section>
    <!-- =====>> Doctors Area End <<===== 
    =========================== -->
     
   
    {% endblock %}
