
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Doctors Profile </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> <a href="doctor.html"> DOCTORS </a> </li>
                    <li> <i class="las la-angle-double-right"></i> DOCTOR PROFILE </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Doctors Area Starts <<===== 
    =========================== -->
    <section class="doctors-details-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8">
                    <div class="doctor-details-left">
                        <div class="single-doctor-details">
                            <div class="doctor-img-flex">
                                <div class="left-images">
                                    <img src="/static/assets/img/doctor-details/details.jpg" alt="">
                                </div>
                                <div class="details-contents">
                                    <h4 class="common-title fs-22"> Dr: Shipon Kumar </h4>
                                    <span class="doctors-title"> Gastoroenterology , MBBS </span>
                                    <p class="common-para"> Diam cum eu urna, nunc duis pulvinafusce elit mollisnulla soluta aliquam adipisicing vehicula ac. Turpis ipsum dolor
                                    </p>
                                    <a href="javascript:void(0)" class="btn--custom btn--base btn--capsole"> APPOINMENT </a>
                                </div>
                            </div>
                        </div>
                        <div class="single-doctor-details">
                            <div class="single-contents">
                                <div class="contents-para-left">
                                    <h6 class="contents-para"> About Me </h6>
                                </div>
                                <div class="contents-para-right">
                                    <p class="common-para"> Contrary to popular belief, Lorem Ipsum is n sxhas roots in a piece of classical Latin literature from 4making it over 2000 years old. </p>
                                </div>
                            </div>
                            <div class="single-contents">
                                <div class="contents-para-left">
                                    <h6 class="contents-para"> Age </h6>
                                </div>
                                <div class="contents-para-right">
                                    <p class="common-para"> 28 Years </p>
                                </div>
                            </div>
                            <div class="single-contents">
                                <div class="contents-para-left">
                                    <h6 class="contents-para"> Work Experience </h6>
                                </div>
                                <div class="contents-para-right">
                                    <ul class="details-content-list">
                                        <li> There are many variations of passages of Lorem available, but the majority </li>
                                        <li> Finibus onorum et alorum" by icero classical lite rature, discovered </li>
                                        <li> Various versions have evolved over the years so mes by accident, sometimes on purpose </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-contents">
                                <div class="contents-para-left">
                                    <h6 class="contents-para"> Education </h6>
                                </div>
                                <div class="contents-para-right">
                                    <ul class="details-content-list">
                                        <li> MBBS , FCES in Gastoroenterology </li>
                                        <li> PHD in Medicine </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-contents">
                                <div class="contents-para-left">
                                    <h6 class="contents-para"> Additional Information </h6>
                                </div>
                                <div class="contents-para-right">
                                    <ul class="details-content-list">
                                        <li> Games , Movies </li>
                                        <li> Try to Make New Thinks </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-contents">
                                <div class="contents-para-left">
                                    <h6 class="contents-para"> Social Media </h6>
                                </div>
                                <div class="contents-para-right">
                                    <ul class="details-content-list details-social-list">
                                        <li>
                                            <a href="javascript:void(0)"> <i class="lab la-facebook-f"></i> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"> <i class="lab la-instagram"></i> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"> <i class="lab la-pinterest"></i> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"> <i class="lab la-vimeo"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 mt-5 mt-lg-0">
                    <div class="doctor-details-right">
                        <form action="#" class="search-form">
                            <input class="form--control form-control" type="text" name="search" placeholder="Type Keyword">
                            <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </form>
                        <div class="single-right-details">
                            <h5 class="single-right-title"> Others Doctors </h5>
                            <ul class="details-right-list">
                                <li><a href="javascript:void(0)"> Dr. Khaled Hossen </a></li>
                                <li><a href="javascript:void(0)"> Dr. Murad Khan </a></li>
                                <li><a href="javascript:void(0)"> Dr. Marina Yigo </a></li>
                                <li><a href="javascript:void(0)"> Dr. Ahosan Habib </a></li>
                                <li><a href="javascript:void(0)"> Dr. Naziur Rahman </a></li>
                            </ul>
                        </div>
                        <div class="single-right-details">
                            <h5 class="single-right-title"> Appoinment </h5>
                            <div class="appoinment-form">
                                <form action="#" class="custom-form">
                                    <div class="single-appoinment">
                                        <select>
                                            <option value="1">Select Depertment</option>
                                            <option value="2">Select Depertment</option>
                                            <option value="3">Select Depertment</option>
                                            <option value="4">Select Depertment</option>
                                            <option value="5">Select Depertment</option>
                                        </select>
                                    </div>
                                    <div class="single-appoinment">
                                        <select>
                                            <option value="1">Select Doctor</option>
                                            <option value="2">Select Doctor</option>
                                            <option value="3">Select Doctor</option>
                                            <option value="4">Select Doctor</option>
                                            <option value="5">Select Doctor</option>
                                        </select>
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control" type="text" name="name" placeholder="Full Name">
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control" type="number" name="number" placeholder="Phone Number">
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control" type="text" name="date" placeholder="Appoinment Date">
                                    </div>
                                    <button type="submit"> BOOK YOUR APPOINMENT </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Doctors Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
   {% endblock %}
