{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Common Questions </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> FAQ </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Faq Area Starts <<===== 
    =========================== -->
    <section class="faq-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Frequently Asked Questions </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="faq-contents">
                <div class="faq-item wow fadeInLeft" data-wow-delay=".2s">
                    <div class="faq-title">
                        <h5 class="faq-heading fw-600 fof-open-sans"> Why People Choose Us? </h5>
                    </div>
                    <div class="faq-panel">
                        <div class="single-panel">
                            <h6 class="panel-title fw-600 fof-open-sans"> Our Mission </h6>
                            <p class="common-para"> Lorem ipsum dolor sit amet, mi volutpat, aenean potenti facililacus nam lacus, ridiculus aenean eros, nulla id orci. Accumsan veecilisi mauris posuere, facilisis aliquam. </p>
                        </div>
                        <div class="single-panel">
                            <h6 class="panel-title fw-600 fof-open-sans"> Our Vission </h6>
                            <p class="common-para"> sollicitudin dolor sit amet, mi volutpat, aenean potenti facilisilacus nam lacus, ridiculus aenean eros, nulla id orci. </p>
                        </div>
                    </div>
                </div>
                <div class="faq-item wow fadeInLeft" data-wow-delay=".3s">
                    <div class="faq-title">
                        <h5 class="faq-heading fw-600 fof-open-sans"> How to Get Service? </h5>
                    </div>
                    <div class="faq-panel">
                        <div class="single-panel">
                            <h6 class="panel-title fw-600 fof-open-sans"> Our Mission </h6>
                            <p class="common-para"> Lorem ipsum dolor sit amet, mi volutpat, aenean potenti facililacus nam lacus, ridiculus aenean eros, nulla id orci. Accumsan veecilisi mauris posuere, facilisis aliquam. </p>
                        </div>
                        <div class="single-panel">
                            <h6 class="panel-title fw-600 fof-open-sans"> Our Vission </h6>
                            <p class="common-para"> sollicitudin dolor sit amet, mi volutpat, aenean potenti facilisilacus nam lacus, ridiculus aenean eros, nulla id orci. </p>
                        </div>
                    </div>
                </div>
                <div class="faq-item active open wow fadeInLeft" data-wow-delay=".4s">
                    <div class="faq-title">
                        <h5 class="faq-heading fw-600 fof-open-sans"> Our Mission & Vission? </h5>
                    </div>
                    <div class="faq-panel">
                        <div class="single-panel">
                            <h6 class="panel-title fw-600 fof-open-sans"> Our Mission </h6>
                            <p class="common-para"> Lorem ipsum dolor sit amet, mi volutpat, aenean potenti facililacus nam lacus, ridiculus aenean eros, nulla id orci. Accumsan veecilisi mauris posuere, facilisis aliquam. </p>
                        </div>
                        <div class="single-panel">
                            <h6 class="panel-title fw-600 fof-open-sans"> Our Vission </h6>
                            <p class="common-para"> sollicitudin dolor sit amet, mi volutpat, aenean potenti facilisilacus nam lacus, ridiculus aenean eros, nulla id orci. </p>
                        </div>
                    </div>
                </div>
                <div class="faq-item wow fadeInLeft" data-wow-delay=".5s">
                    <div class="faq-title">
                        <h5 class="faq-heading fw-600 fof-open-sans"> Where are Our Other Branch? </h5>
                    </div>
                    <div class="faq-panel">
                        <div class="single-panel">
                            <h6 class="panel-title fw-600 fof-open-sans"> Our Mission </h6>
                            <p class="common-para"> Lorem ipsum dolor sit amet, mi volutpat, aenean potenti facililacus nam lacus, ridiculus aenean eros, nulla id orci. Accumsan veecilisi mauris posuere, facilisis aliquam. </p>
                        </div>
                        <div class="single-panel">
                            <h6 class="panel-title fw-600 fof-open-sans"> Our Vission </h6>
                            <p class="common-para"> sollicitudin dolor sit amet, mi volutpat, aenean potenti facilisilacus nam lacus, ridiculus aenean eros, nulla id orci. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Faq Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
    {% endblock %}
