{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Giving Back </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> GIVING BACK </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Mission-Vission Area Starts <<===== 
    =========================== -->
    <section class="giving-back-area pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 wow animated slideInDown" data-wow-delay=".3s">
                    <div class="mission-vission-images">
                        <img src="/static/assets/img/giving-back/giving-back1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mission-vission-wrapper">
                        <h2 class="mission-title"> Health Conference </h2>
                        <span class="mission-span fs-18 fw-600"> <i class="las la-calendar-day"></i> 25 MAY 2020 </span>
                        <p class="common-para"> Neque ligula nam massa aliquet tempus, nulla aliquam nascetur suspendisse eros arcu, tortor porta turpis pellentesque et platea vitae id risus. Sed mauris porttitor quam, magna molestie aenean quis ornare sed. Pharetra in suspendisse.
                        </p>
                        <ul class="mission-list">
                            <li> <i class="las la-angle-down"></i> Low Investment </li>
                            <li> <i class="las la-angle-down"></i> 24/7 Customer Support </li>
                            <li> <i class="las la-angle-down"></i> Over View On Service </li>
                            <li> <i class="las la-angle-down"></i> Life Time Membership </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 wow animated slideInUp" data-wow-delay=".3s">
                    <div class="mission-vission-images">
                        <img src="/static/assets/img/giving-back/giving-back2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mission-vission-wrapper">
                        <h2 class="mission-title"> Doctor Meetup In UK </h2>
                        <span class="mission-span fs-18 fw-600"> <i class="las la-calendar-day"></i> 12 JUN 2020 </span>
                        <p class="common-para"> Neque ligula nam massa aliquet tempus, nulla aliquam nascetur suspendisse eros arcu, tortor porta turpis pellentesque et platea vitae id risus. Sed mauris porttitor quam, magna molestie aenean quis ornare sed. Pharetra in suspendisse.
                        </p>
                        <ul class="mission-list">
                            <li> <i class="las la-angle-down"></i> Low Investment </li>
                            <li> <i class="las la-angle-down"></i> 24/7 Customer Support </li>
                            <li> <i class="las la-angle-down"></i> Over View On Service </li>
                            <li> <i class="las la-angle-down"></i> Life Time Membership </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 wow animated slideInDown" data-wow-delay=".3s">
                    <div class="mission-vission-images">
                        <img src="/static/assets/img/giving-back/giving-back3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mission-vission-wrapper">
                        <h2 class="mission-title"> Career In Medical </h2>
                        <span class="mission-span fs-18 fw-600"> <i class="las la-calendar-day"></i> 09 AUGUST 2020 </span>
                        <p class="common-para"> Neque ligula nam massa aliquet tempus, nulla aliquam nascetur suspendisse eros arcu, tortor porta turpis pellentesque et platea vitae id risus. Sed mauris porttitor quam, magna molestie aenean quis ornare sed. Pharetra in suspendisse.
                        </p>
                        <ul class="mission-list">
                            <li> <i class="las la-angle-down"></i> Low Investment </li>
                            <li> <i class="las la-angle-down"></i> 24/7 Customer Support </li>
                            <li> <i class="las la-angle-down"></i> Over View On Service </li>
                            <li> <i class="las la-angle-down"></i> Life Time Membership </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 wow animated slideInUp" data-wow-delay=".3s">
                    <div class="mission-vission-images">
                        <img src="/static/assets/img/giving-back/giving-back4.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mission-vission-wrapper">
                        <h2 class="mission-title"> World Healthday - 2020 </h2>
                        <span class="mission-span fs-18 fw-600"> <i class="las la-calendar-day"></i> 25 MAY 2020 </span>
                        <p class="common-para"> Neque ligula nam massa aliquet tempus, nulla aliquam nascetur suspendisse eros arcu, tortor porta turpis pellentesque et platea vitae id risus. Sed mauris porttitor quam, magna molestie aenean quis ornare sed. Pharetra in suspendisse.
                        </p>
                        <ul class="mission-list">
                            <li> <i class="las la-angle-down"></i> Low Investment </li>
                            <li> <i class="las la-angle-down"></i> 24/7 Customer Support </li>
                            <li> <i class="las la-angle-down"></i> Over View On Service </li>
                            <li> <i class="las la-angle-down"></i> Life Time Membership </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Mission-Vission Area End <<===== 
    =========================== -->
    <!-- =====>> Why Area Starts <<===== 
    =========================== -->
    <section class="why-area bg--section pt-120 pb-120">
        <div class="container">
            <div class="row align-items-end flex-column-reverse flex-lg-row">
                <div class="col-lg-6 mt-5 mt-lg-0">
                    <div class="why-wrapper">
                        <div class="section-title text-left">
                            <h2 class="section-heading"> Why We Are </h2>
                            <div class="section-border"></div>
                            <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                        </div>
                        <div class="why-contents">
                            <div class="row gy-5 mt-0 mt-lg-1">
                                <div class="col-lg-6">
                                    <div class="single-why">
                                        <div class="why-flex-content">
                                            <div class="why-image">
                                                <img src="/static/assets/img/giving-back/why1.png" alt="">
                                            </div>
                                            <div class="why-heading">
                                                <h4 class="why-title fs-22 fw-600"> Fast Services </h4>
                                            </div>
                                        </div>
                                        <p class="common-para"> Sollicitudin sit nullam pharingilla odio ultricies erat sapien purus. </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-why">
                                        <div class="why-flex-content">
                                            <div class="why-image">
                                                <img src="/static/assets/img/giving-back/why2.png" alt="">
                                            </div>
                                            <div class="why-heading">
                                                <h4 class="why-title fs-22 fw-600"> Team Work </h4>
                                            </div>
                                        </div>
                                        <p class="common-para"> Sollicitudin sit nullam pharingilla odio ultricies erat sapien purus. </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-why">
                                        <div class="why-flex-content">
                                            <div class="why-image">
                                                <img src="/static/assets/img/giving-back/why3.png" alt="">
                                            </div>
                                            <div class="why-heading">
                                                <h4 class="why-title fs-22 fw-600"> Transperency </h4>
                                            </div>
                                        </div>
                                        <p class="common-para"> Sollicitudin sit nullam pharingilla odio ultricies erat sapien purus. </p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-why">
                                        <div class="why-flex-content">
                                            <div class="why-image">
                                                <img src="/static/assets/img/giving-back/why4.png" alt="">
                                            </div>
                                            <div class="why-heading">
                                                <h4 class="why-title fs-22 fw-600"> 24/7 Support </h4>
                                            </div>
                                        </div>
                                        <p class="common-para"> Sollicitudin sit nullam pharingilla odio ultricies erat sapien purus. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="why-right-img">
                        <img src="/static/assets/img/giving-back/why-right.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Why Area End <<===== 
    =========================== -->
    <!-- =====>> Question Area Starts <<===== 
    =========================== -->
    <section class="question-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <div class="question-left-wrapper">
                        <h2 class="question-title"> Have Questions About Your Our Services? </h2>
                        <span class="question-span fs-22 fw-400"> Penatibus dui in orci metus, ornare mollis vestibulum nam erat vestilum ligula lorem nibh.  </span>
                        <a href="javascript:void(0)" class="btn--custom btn--base btn--capsole"> ASKED YOUR QUESTION </a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 mt-5 mt-lg-0">
                    <div class="faq-contents faq-style-two">
                        <div class="faq-item active open wow fadeInLeft" data-wow-delay=".2s">
                            <div class="faq-title">
                                <h4 class="common-title fw-600 fs-20"> How To Get Service? </h4>
                            </div>
                            <div class="faq-panel">
                                <p class="common-para">
                                    Condimentum aliquam mauris, aliquam vel quasi sed prsent. Lacus justo aliquam felis tempor risus ut, tincidunt quismrcu aenean. Adipiscing libero donec placeratarcu.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item wow fadeInLeft" data-wow-delay=".3s">
                            <div class="faq-title">
                                <h4 class="common-title fw-600 fs-20">Why Choose Us?</h4>
                            </div>
                            <div class="faq-panel">
                                <p class="common-para">
                                    Condimentum aliquam mauris, aliquam vel quasi sed prsent. Lacus justo aliquam felis tempor risus ut, tincidunt quismrcu aenean. Adipiscing libero donec placeratarcu.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item wow fadeInLeft" data-wow-delay=".4s">
                            <div class="faq-title">
                                <h4 class="common-title fw-600 fs-20"> Our Payment System? </h4>
                            </div>
                            <div class="faq-panel">
                                <p class="common-para">
                                    Condimentum aliquam mauris, aliquam vel quasi sed prsent. Lacus justo aliquam felis tempor risus ut, tincidunt quismrcu aenean. Adipiscing libero donec placeratarcu.
                                </p>
                            </div>
                        </div>
                        <div class="faq-item wow fadeInLeft" data-wow-delay=".5s">
                            <div class="faq-title">
                                <h4 class="common-title fw-600 fs-20"> Is There Free Profile? </h4>
                            </div>
                            <div class="faq-panel">
                                <p class="common-para">
                                    Condimentum aliquam mauris, aliquam vel quasi sed prsent. Lacus justo aliquam felis tempor risus ut, tincidunt quismrcu aenean. Adipiscing libero donec placeratarcu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Question Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
    {% endblock %}
