{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area" data-background="/static/assets/img/home/banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Meet With Your Best Doctor In Here </h2>
                <span class="banner-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna, vitae cras. Ipsum sociosqu.  </span>
                <div class="banner-button mt-0 mt-lg-3">
                    <a href="javascript:void(0)" class="btn--custom btn--base btn--capsole"> APPOINMENT </a>
                    <a href="javascript:void(0)" class="btn--custom btn-outline--base btn--capsole"> LEARN MORE </a>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Address Area Starts <<===== 
    =========================== -->
    <div class="address-area bg-base--section">
        <div class="container">
            <div class="address-wrapper">
                <div class="single-address text-white">
                    <div class="header-icon">
                        <i class="las la-clock"></i>
                    </div>
                    <div class="address-content">
                        <h6 class="address-title text-white"> Friday to Saturday </h6>
                        <span class="address-para"> 08:30 am to 05:00 pm </span>
                    </div>
                </div>
                <div class="single-address text-white">
                    <div class="header-icon">
                        <i class="las la-map-marker-alt"></i>
                    </div>
                    <div class="address-content">
                        <h6 class="address-title text-white"> Office Address </h6>
                        <span class="address-para">  Gene Rest, North Audreanneville </span>
                    </div>
                </div>
                <div class="single-address text-white">
                    <div class="header-icon">
                        <i class="las la-envelope"></i>
                    </div>
                    <div class="address-content">
                        <h6 class="address-title text-white"> Email Address </h6>
                        <span class="address-para"> <a href="https://template.viserlab.com/cdn-cgi/l/email-protection#d3b7b6bebcb0bcbea3b2bdaafdb0bcbe"> democompany.com </a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Address Area End <<===== 
    =========================== -->
    <!-- =====>> Appoinment Area Starts <<===== 
    =========================== -->
   <!--  <section class="appoinment-area">
        <div class="container">
            <div class="appoinment-all">
                <div class="appoinment-images" data-paroller-factor="-0.10" data-paroller-type="foreground" data-paroller-direction="horizontal">
                    <img src="/static/assets/img/home/appoinment-man.png" alt="">
                </div>
                <div class="appoinment-wrapper wow animated slideInLeft" data-wow-delay=".3">
                    <div class="appoinment-inner">
                        <h3 class="appoinment-heading"> Book Appoinment </h3>
                        <div class="appoinment-border"></div>
                        <div class="appoinment-form">
                            <form action="#" class="custom-form">
                                <div class="single-appoinment">
                                    <select>
                                        <option value="1">Select Depertment</option>
                                        <option value="2">Select Depertment</option>
                                        <option value="3">Select Depertment</option>
                                        <option value="4">Select Depertment</option>
                                        <option value="5">Select Depertment</option>
                                        </select>
                                </div>
                                <div class="single-appoinment">
                                    <select>
                                        <option value="1">Select Doctor</option>
                                        <option value="2">Select Doctor</option>
                                        <option value="3">Select Doctor</option>
                                        <option value="4">Select Doctor</option>
                                        <option value="5">Select Doctor</option>
                                    </select>
                                </div>
                                <div class="single-appoinment">
                                    <input class="form--control form-control" type="text" name="name" placeholder="Full Name">
                                </div>
                                <div class="single-appoinment">
                                    <input class="form--control form-control" type="tel" name="phone" placeholder="Phone Number">
                                </div>
                                <div class="single-appoinment">
                                    <input class="form--control form-control date-input" data-date-format="mm/dd/yyyy" placeholder="Appoinment Date">
                                </div>
                                <button type="submit"> BOOK YOUR APPOINMENT </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- =====>> Appoinment Area End <<===== 
    =========================== -->
    <!-- =====>> Service Area Starts <<===== 
    =========================== -->
    <section class="service-area bg--section pt-120 pb-120">
        <div class="container">
           
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Our Services </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="container">
            <div class="row gy-4">
            {% for x in data %}   
            <!-- {% if forloop.counter <= 4 %}   --> 
                <div class="col-lg-4 col-md-6 wow animated slideInDown" data-wow-delay=".2s">   
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service1.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title" style="text-transform: uppercase;"> <a href="#">{{x.department.department}}</a> </h4>
                            <p class="common-para" style="text-transform: uppercase;"> {{x.department.description}} </p>
                        </div>
                    </div>
                    
                </div>
                <!-- {% endif %} -->
                {% endfor %}  
                
         </div>
             
               
                <!-- <div class="col-lg-4 col-md-6 mt-4 wow slideInUp" data-wow-delay=".3s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service2.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Dental Surgery </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow slideInDown" data-wow-delay=".3s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service3.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Ophthalmology </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow slideInUp" data-wow-delay=".2s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service4.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Outpatient Surgery </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow slideInDown" data-wow-delay=".2s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service5.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Gynaecological </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow slideInUp" data-wow-delay=".3s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service6.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Laboratory Analysis </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>

                    </div>
                </div>
 -->
            </div>
           <br>
           <br>
           <br>
        <form action="/service/" method="POST">
        {% csrf_token %}
        <button type="submit"  class="btn btn-primary" style="border-radius: 8px;font-size: 24px;"> View All </button>
        </form>
        </div>
        
    </section>

    <!-- =====>> Service Area End <<===== 
    =========================== -->
    <!-- =====>> Doctors Area Starts <<===== 
    =========================== -->
    <section class="doctors-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Our Expert Doctor </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
             <div class="container">
             <div class="row gy-4">
             {% for x in data %}
                <div class="col-lg-4 col-md-6 mt-4 wow slideInDown" data-wow-delay=".2s">
                    <div class="single-doctors">
                        <div class="doctors-image">
                            <img src="{{x.image.url}}" width="148" height="127" alt="">
                        </div>
                        <div class="doctor-contents">
                            <h4 class="common-title"> <a href="doctor-details.html"> {{x.doctorname}}</a> </h4>
                            <span class="doctor-title" style="text-transform: uppercase";> {{x.department.department}} </span>
                            <p class="common-para"> {{x.qualification}} </p>
                            <!-- <ul class="doctor-socials">
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-linkedin-in"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-google-plus-g"></i> </a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                 {% endfor %}
                <!-- <div class="col-lg-4 col-md-6 mt-4 wow slideInUp" data-wow-delay=".3s">
                    <div class="single-doctors">
                        <div class="doctors-image">
                            <img src="/static/assets/img/home/doctor2.jpg" alt="">
                        </div>
                        <div class="doctor-contents">
                            <h4 class="common-title"> <a href="doctor-details.html"> Dr: Shipon Kumar </a> </h4>
                            <span class="doctor-title"> Gastoroenterology , MBBS </span>
                            <p class="common-para"> pharetra ultricies aenean, sit metus integer arcu turpis dndimentum pellentesque world. </p>
                            <ul class="doctor-socials">
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-linkedin-in"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-google-plus-g"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow slideInLeft" data-wow-delay=".3s">
                    <div class="single-doctors">
                        <div class="doctors-image">
                            <img src="/static/assets/img/home/doctor3.jpg" alt="">
                        </div>
                        <div class="doctor-contents">
                            <h4 class="common-title"> <a href="doctor-details.html"> Dr. marina Yigo </a> </h4>
                            <span class="doctor-title"> Gynecology , MBBS </span>
                            <p class="common-para"> pharetra ultricies aenean, sit metus integer arcu turpis dndimentum pellentesque world. </p>
                            <ul class="doctor-socials">
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-linkedin-in"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"> <i class="lab la-google-plus-g"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
            <br>
           <br>
            <br>
        <form action="/doctor/" method="POST">
        {% csrf_token %}
        <button type="submit"  class="btn btn-primary" style="border-radius: 8px; font-size: 24px;"> View All </button>
        </form>
        </div>
    </section>
    <!-- =====>> Doctors Area End <<===== 
    =========================== -->
    <!-- =====>> Depertment Area Starts <<===== 
    =========================== -->
    <section class="depertment-area pb-120">
        <div class="container">
            <div class="section-title">
                <h2 class="section-heading"> Our Departments Best For You </h2>
                <p class="section-para"> Lorem ipsum dolor sit amet, nunc sodales massa turpis cursus iaculis, ur nam. Ultricies sapien fusce vitae duis, ut torquent a. Pede nec libero tristique, eget fusce, quis lorem vel tortor lacinia amet. </p>
            </div>
            <div class="depertment-tab-list">
                <ul class="tabs depertment-tabs">
                    <li data-tab="tab-one">
                        <div class="depertmet-icon">
                            <img src="/static/assets/img/home/depertment1.png" alt="">
                        </div>
                        <h5 class="depertment-title">Dental</h5>

                    </li>
                    <li data-tab="tab-two" class="active">
                        <div class="depertmet-icon">
                            <img src="/static/assets/img/home/depertment2.png" alt="">
                        </div>
                        <h5 class="depertment-title">Surgery</h5>

                    </li>
                    <li data-tab="tab-three">
                        <div class="depertmet-icon">
                            <img src="/static/assets/img/home/depertment3.png" alt="">
                        </div>
                        <h5 class="depertment-title">Gynecology</h5>

                    </li>
                    <li data-tab="tab-four">
                        <div class="depertmet-icon">
                            <img src="/static/assets/img/home/depertment4.png" alt="">
                        </div>
                        <h5 class="depertment-title">Laboratory</h5>

                    </li>
                    <li data-tab="tab-five">
                        <div class="depertmet-icon">
                            <img src="/static/assets/img/home/depertment5.png" alt="">
                        </div>
                        <h5 class="depertment-title">Cardiology</h5>
                    </li>
                    <li data-tab="tab-six">
                        <div class="depertmet-icon">
                            <img src="/static/assets/img/home/depertment6.png" alt="">
                        </div>
                        <h5 class="depertment-title">Emergency</h5>

                    </li>
                </ul>
            </div>
            <div id="tab-one" class="tab-content">
                <div class="row mt-3 mt-lg-4 align-items-center">
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-images">
                            <img src="/static/assets/img/home/depertment-left.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-contents">
                            <h3 class="depertment-headings">Open Heart Surgery</h3>
                            <p class="common-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna vicras. Ipsum sociosqu. Mi consequat nec, per urna sed vitae mi lectusn egestas, in consectetuer sed. Nunc id venenatis </p>
                            <ul class="depertment-content-list">
                                <li> <i class="las la-check"></i> Liver Function Tests. The Liver Function Tests (LFT)ed </li>
                                <li> <i class="las la-check"></i> Full Blood Examination. </li>
                                <li> <i class="las la-check"></i> TSH (Thyroid Stimulating Hormone) Quantification Urinalysis. </li>
                                <li> <i class="las la-check"></i> INR (International Normalized Ratio) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-two" class="tab-content active">
                <div class="row mt-3 mt-lg-4 align-items-center">
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-images">
                            <img src="/static/assets/img/home/depertment-left.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-contents">
                            <h3 class="depertment-headings">Open Heart Surgery</h3>
                            <p class="common-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna vicras. Ipsum sociosqu. Mi consequat nec, per urna sed vitae mi lectusn egestas, in consectetuer sed. Nunc id venenatis </p>
                            <ul class="depertment-content-list">
                                <li> <i class="las la-check"></i> Liver Function Tests. The Liver Function Tests (LFT)ed </li>
                                <li> <i class="las la-check"></i> Full Blood Examination. </li>
                                <li> <i class="las la-check"></i> TSH (Thyroid Stimulating Hormone) Quantification Urinalysis. </li>
                                <li> <i class="las la-check"></i> INR (International Normalized Ratio) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-three" class="tab-content">
                <div class="row mt-3 mt-lg-4 align-items-center">
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-images">
                            <img src="/static/assets/img/home/depertment-left.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-contents">
                            <h3 class="depertment-headings">Open Heart Surgery</h3>
                            <p class="common-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna vicras. Ipsum sociosqu. Mi consequat nec, per urna sed vitae mi lectusn egestas, in consectetuer sed. Nunc id venenatis </p>
                            <ul class="depertment-content-list">
                                <li> <i class="las la-check"></i> Liver Function Tests. The Liver Function Tests (LFT)ed </li>
                                <li> <i class="las la-check"></i> Full Blood Examination. </li>
                                <li> <i class="las la-check"></i> TSH (Thyroid Stimulating Hormone) Quantification Urinalysis. </li>
                                <li> <i class="las la-check"></i> INR (International Normalized Ratio) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-four" class="tab-content">
                <div class="row mt-3 mt-lg-4 align-items-center">
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-images">
                            <img src="/static/assets/img/home/depertment-left.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-contents">
                            <h3 class="depertment-headings">Open Heart Surgery</h3>
                            <p class="common-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna vicras. Ipsum sociosqu. Mi consequat nec, per urna sed vitae mi lectusn egestas, in consectetuer sed. Nunc id venenatis </p>
                            <ul class="depertment-content-list">
                                <li> <i class="las la-check"></i> Liver Function Tests. The Liver Function Tests (LFT)ed </li>
                                <li> <i class="las la-check"></i> Full Blood Examination. </li>
                                <li> <i class="las la-check"></i> TSH (Thyroid Stimulating Hormone) Quantification Urinalysis. </li>
                                <li> <i class="las la-check"></i> INR (International Normalized Ratio) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-five" class="tab-content">
                <div class="row mt-3 mt-lg-4 align-items-center">
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-images">
                            <img src="/static/assets/img/home/depertment-left.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-contents">
                            <h3 class="depertment-headings">Open Heart Surgery</h3>
                            <p class="common-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna vicras. Ipsum sociosqu. Mi consequat nec, per urna sed vitae mi lectusn egestas, in consectetuer sed. Nunc id venenatis </p>
                            <ul class="depertment-content-list">
                                <li> <i class="las la-check"></i> Liver Function Tests. The Liver Function Tests (LFT)ed </li>
                                <li> <i class="las la-check"></i> Full Blood Examination. </li>
                                <li> <i class="las la-check"></i> TSH (Thyroid Stimulating Hormone) Quantification Urinalysis. </li>
                                <li> <i class="las la-check"></i> INR (International Normalized Ratio) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-six" class="tab-content">
                <div class="row mt-3 mt-lg-4 align-items-center">
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-images">
                            <img src="/static/assets/img/home/depertment-left.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="depertment-contents">
                            <h3 class="depertment-headings">Open Heart Surgery</h3>
                            <p class="common-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna vicras. Ipsum sociosqu. Mi consequat nec, per urna sed vitae mi lectusn egestas, in consectetuer sed. Nunc id venenatis </p>
                            <ul class="depertment-content-list">
                                <li> <i class="las la-check"></i> Liver Function Tests. The Liver Function Tests (LFT)ed </li>
                                <li> <i class="las la-check"></i> Full Blood Examination. </li>
                                <li> <i class="las la-check"></i> TSH (Thyroid Stimulating Hormone) Quantification Urinalysis. </li>
                                <li> <i class="las la-check"></i> INR (International Normalized Ratio) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Depertment Area End <<===== 
    =========================== -->
    <!-- =====>> Check Area Starts <<===== 
    =========================== -->
    <section class="check-area bg-base--section">
        <div class="container">
            <div class="check-wrapper">
                <div class="check-left">
                    <h2 class="check-title text-white"> 30% off any diganestic let`s check </h2>
                    <p class="check-para text-white"> You can get upto 30% off for 45 days in here ! So Contact with Us </p>
                </div>
                <div class="check-button mt-lg-0 mt-4">
                    <a href="service.html" class="btn--custom btn--white btn--capsole"> Get Services </a>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Check Area End <<===== 
    =========================== -->
    <!-- =====>> Testimonial Area Starts <<===== 
    =========================== -->
    <section class="testimonial-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Client Testimonial </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mt-lg-4">
                <div class="col-lg-12 mt-4">
                    <div class="testimonial-slider">
                        <div class="single-testimonial wow slideInDown" data-wow-delay=".2s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small1.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Marina Tusa </h4>
                                    <p class="author-para"> Housewief </p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial wow slideInUp" data-wow-delay=".3s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small2.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Karina Nisha </h4>
                                    <p class="author-para"> Businessman </p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial wow slideInDown" data-wow-delay=".2s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small1.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Marina Tusa </h4>
                                    <p class="author-para"> Housewief </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Testimonial Area End <<===== 
    =========================== -->
    <!-- =====>> Theatre Area Starts <<===== 
    =========================== -->
    <section class="theatre-area bg--section pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".2s">
                    <div class="theatre-image-wrapper">
                        <div class="theatre-image">
                            <img src="/static/assets/img/home/theatre.jpg" alt="">
                            <a href="https://www.youtube.com/watch?v=iIrSCm_0Sj4" class="video-play-btn"> <i class="las la-play"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="theatre-right-contents">
                        <div class="section-title text-left">
                            <h2 class="section-heading"> world best operation theatre in here </h2>
                            <div class="section-border"></div>
                        </div>
                        <p class="common-para"> Fusce gravida at dolor, in blandit mi morbi donec metupendisse diam morbi dui, ut tortor ullamcorper porta ac, aliquet duis velit malesuada. Molestie elit soluta felis. Sed eu purus quam faubus cras maecenas quam pede. Nullam vehicula
                            arcu pellentesque sed, et vestibulum at eu, dictumst egestas. </p>
                        <a href="javascript:void(0)" class="btn--custom btn--base btn--capsole"> Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Theatre Area End <<===== 
    =========================== -->
    <!-- =====>> Pricing Area Starts <<===== 
    =========================== -->
    <section class="pricing-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Choose Pricing Plan </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mt-lg-4">
                <div class="col-lg-4 col-md-6 mt-4 wow slideInDown" data-wow-delay=".2s">
                    <div class="single-pricing">
                        <div class="pricing-top">
                            <span class="price-title"> Basic </span>
                            <h2 class="pricing-price"> <sup>$</sup> 57 <sub>/month</sub> </h2>
                        </div>
                        <ul class="pricing-list">
                            <li> <i class="las la-check"></i> Liver Function Tests. </li>
                            <li> <i class="las la-check"></i> Full Blood Examination. </li>
                            <li> <i class="las la-check"></i> TSH (Thyroid Stimulating </li>
                            <li> <i class="las la-check"></i> INR (International Normalized </li>
                        </ul>
                        <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> BUY NOW </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow slideInLeft" data-wow-delay=".2s">
                    <div class="single-pricing">
                        <div class="pricing-top">
                            <span class="price-title"> Standard </span>
                            <h2 class="pricing-price"> <sup>$</sup> 86 <sub>/month</sub> </h2>
                        </div>
                        <ul class="pricing-list">
                            <li> <i class="las la-check"></i> Liver Function Tests. </li>
                            <li> <i class="las la-check"></i> Full Blood Examination. </li>
                            <li> <i class="las la-check"></i> TSH (Thyroid Stimulating </li>
                            <li> <i class="las la-check"></i> INR (International Normalized </li>
                        </ul>
                        <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> BUY NOW </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow slideInUp" data-wow-delay=".3s">
                    <div class="single-pricing">
                        <div class="pricing-top">
                            <span class="price-title"> Premium </span>
                            <h2 class="pricing-price"> <sup>$</sup> 98 <sub>/month</sub> </h2>
                        </div>
                        <ul class="pricing-list">
                            <li> <i class="las la-check"></i> Liver Function Tests. </li>
                            <li> <i class="las la-check"></i> Full Blood Examination. </li>
                            <li> <i class="las la-check"></i> TSH (Thyroid Stimulating </li>
                            <li> <i class="las la-check"></i> INR (International Normalized </li>
                        </ul>
                        <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> BUY NOW </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Pricing Area End <<===== 
    =========================== -->
    <!-- =====>> Counter Area Starts <<===== 
    =========================== -->
    <section class="counter-area bg--section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mt-4">
                    <div class="single-counter">
                        <div class="counter-count">
                            <h2 class="odometer" data-odometer-final="40"></h2>
                            <h2 class="count-title">K</h2>
                        </div>
                        <span class="count-para"> Total Staff </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4">
                    <div class="single-counter">
                        <div class="counter-count">
                            <h2 class="odometer" data-odometer-final="15"></h2>
                            <h2 class="count-title">K</h2>
                        </div>
                        <span class="count-para"> Patients Bed </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4">
                    <div class="single-counter">
                        <div class="counter-count">
                            <h2 class="odometer" data-odometer-final="512"></h2>
                            <h2 class="count-title">+</h2>
                        </div>
                        <span class="count-para"> Consult Room </span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4">
                    <div class="single-counter">
                        <div class="counter-count">
                            <h2 class="odometer" data-odometer-final="15"></h2>
                            <h2 class="count-title">K</h2>
                        </div>
                        <span class="count-para"> ICU Support </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Counter Area End <<===== 
    =========================== -->
    <!-- =====>> BLog Area Starts <<===== 
    =========================== -->
    <section class="blog-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Latest News & Tips </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mt-lg-4">
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="/static/assets/img/home/blog1.jpg" alt="">
                        </a>
                        <span class="blog-dates"> 24 March 2020 </span>
                        <div class="blog-contents">
                            <ul class="blog-tags">
                                <li>
                                    <a href="javascript:void(0)"> By Admin </a></li>
                                <li>
                                    <a href="javascript:void(0)"> Doctor , Clinic </a></li>
                            </ul>
                            <h4 class="common-title"> <a href="blog-details.html"> Medical and Love Have 4 Things In Common </a> </h4>
                            <p class="common-para"> consequat vulputate eget metumpeng magna commodo purus etiam. </p>
                            <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="/static/assets/img/home/blog2.jpg" alt="">
                        </a>
                        <span class="blog-dates"> 28 March 2020 </span>
                        <div class="blog-contents">
                            <ul class="blog-tags">
                                <li>
                                    <a href="javascript:void(0)"> By Admin </a></li>
                                <li>
                                    <a href="javascript:void(0)"> Health , Medical </a></li>
                            </ul>
                            <h4 class="common-title"> <a href="blog-details.html"> 22 Tips To Start Building A Medical </a> </h4>
                            <p class="common-para"> consequat vulputate eget metumpeng magna commodo purus etiam. </p>
                            <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="single-blog">
                        <a href="blog-details.html" class="blog-image">
                            <img src="/static/assets/img/home/blog3.jpg" alt="">
                        </a>
                        <span class="blog-dates"> 30 March 2020 </span>
                        <div class="blog-contents">
                            <ul class="blog-tags">
                                <li>
                                    <a href="javascript:void(0)"> By Admin </a></li>
                                <li>
                                    <a href="javascript:void(0)"> Care , Surgery </a></li>
                            </ul>
                            <h4 class="common-title"> <a href="blog-details.html"> Being A Star In You dustry Is A Matter </a> </h4>
                            <p class="common-para"> consequat vulputate eget metumpeng magna commodo purus etiam. </p>
                            <a href="javascript:void(0)" class="btn--custom btn-outline--body btn--capsole"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> BLog Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
   