{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Login Account </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> LOGIN </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Login Area Starts <<===== 
    =========================== -->
    <div class="login-area pt-120 pb-120">
        <div class="container">
            <div class="login-wrapper wow animated slideInUp" data-wow-delay=".3s">
                <div class="login-contents">
                    <h3 class="login-title"> Login Account </h3>
                    <div class="section-border"></div>
                    <p class="login-para"> With Your Social Network </p>
                    <div class="login-social-button">
                        <a class="btn--facebook btn--capsole" href="javascript:void(0)"> Facebook </a>
                        <a class="btn--google btn--capsole" href="javascript:void(0)"> Google Plus </a>
                        <a class="btn--twitter btn--capsole" href="javascript:void(0)"> Twitter </a>
                    </div>
                    <h6 class="or-title fw-600"> or </h6>
                    <div class="login-form-contents">
                        <form action="#" class="custom-form login-form">
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="name" placeholder="User Name">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <button type="submit"> LOGIN ACCOUNT </button>
                        </form>
                        <div class="login-bottom-content">
                            <a href="javascript:void(0)"> Have your any Account in here? </a>
                            <a href="javascript:void(0)"> Forget Password </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Login Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
   {% endblock %}
