
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Create Account </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> REGISTRATION </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Registration Area Starts <<===== 
    =========================== -->
    <div class="registration-area pt-120 pb-120">
        <div class="container">
            <div class="registration-wrapper wow animated slideInUp" data-wow-delay=".3s">
                <div class="registration-contents">
                    <h3 class="registration-title"> Open Account </h3>
                    <div class="section-border"></div>
                    <div class="registration-form-contents">
                        <form action="#" class="custom-form registration-form">
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="name" placeholder="First Name">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="name" placeholder="Last Name">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="email" placeholder="Email">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="tel" name="phone" placeholder="Phone Number">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="password" name="password" placeholder="Re-Password">
                            </div>
                            <div class="checkbox-inlines">
                                <input class="check-input" type="checkbox" id="check1">
                                <label class="checkbox-label" for="check1"> Lorem ipsum dolor sit amet, cras venenatis dolor. Nisl fringilla a etiam rhoncus. Massa  iaculis elit eros. </label>
                            </div>
                            <button type="submit"> REGISTER ACCOUNT </button>
                        </form>
                        <div class="login-bottom-content">
                            <a href="javascript:void(0)"> Have your any Account in here? </a>
                            <a href="javascript:void(0)"> Login </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Registration Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
    {% endblock %}
