{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Our Service - 02 </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> SERVICE TWO </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Service Area Starts <<===== 
    =========================== -->
    <section class="service-area-two pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Best Diagonstic Services </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="row gy-5 mt-0 mt-lg-1">
                <div class="col-lg-4 col-md-6 wow animated slideInDown" data-wow-delay=".2s">
                    <div class="single-service-two">
                        <div class="service-icon-flex">
                            <div class="service-icon">
                                <img src="/static/assets/img/service/service1.png" alt="">
                            </div>
                            <h4 class="common-title"> <a href="service-details.html"> Cardiogram </a> </h4>
                        </div>
                        <p class="common-para"> Lorem ipsum dolor sit amet, suspendissfusce et suspendisse tincidunt. Vel venenatpciou nibh, quis aliquet nostra facilisis. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow animated slideInUp" data-wow-delay=".3s">
                    <div class="single-service-two">
                        <div class="service-icon-flex">
                            <div class="service-icon">
                                <img src="/static/assets/img/service/service2.png" alt="">
                            </div>
                            <h4 class="common-title"> <a href="service-details.html"> Hemoglobin Test </a> </h4>
                        </div>
                        <p class="common-para"> Lorem ipsum dolor sit amet, suspendissfusce et suspendisse tincidunt. Vel venenatpciou nibh, quis aliquet nostra facilisis. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow animated slideInDown" data-wow-delay=".2s">
                    <div class="single-service-two">
                        <div class="service-icon-flex">
                            <div class="service-icon">
                                <img src="/static/assets/img/service/service3.png" alt="">
                            </div>
                            <h4 class="common-title"> <a href="service-details.html"> MRI Scan </a> </h4>
                        </div>
                        <p class="common-para"> Lorem ipsum dolor sit amet, suspendissfusce et suspendisse tincidunt. Vel venenatpciou nibh, quis aliquet nostra facilisis. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow animated slideInUp" data-wow-delay=".2s">
                    <div class="single-service-two">
                        <div class="service-icon-flex">
                            <div class="service-icon">
                                <img src="/static/assets/img/service/service4.png" alt="">
                            </div>
                            <h4 class="common-title"> <a href="service-details.html"> Ophthalmology </a> </h4>
                        </div>
                        <p class="common-para"> Lorem ipsum dolor sit amet, suspendissfusce et suspendisse tincidunt. Vel venenatpciou nibh, quis aliquet nostra facilisis. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow animated slideInDown" data-wow-delay=".3s">
                    <div class="single-service-two">
                        <div class="service-icon-flex">
                            <div class="service-icon">
                                <img src="/static/assets/img/service/service5.png" alt="">
                            </div>
                            <h4 class="common-title"> <a href="service-details.html"> Laboratory Analysis </a> </h4>
                        </div>
                        <p class="common-para"> Lorem ipsum dolor sit amet, suspendissfusce et suspendisse tincidunt. Vel venenatpciou nibh, quis aliquet nostra facilisis. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow animated slideInUp" data-wow-delay=".2s">
                    <div class="single-service-two">
                        <div class="service-icon-flex">
                            <div class="service-icon">
                                <img src="/static/assets/img/service/service6.png" alt="">
                            </div>
                            <h4 class="common-title"> <a href="service-details.html"> Medical Checkup </a> </h4>
                        </div>
                        <p class="common-para"> Lorem ipsum dolor sit amet, suspendissfusce et suspendisse tincidunt. Vel venenatpciou nibh, quis aliquet nostra facilisis. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Service Area End <<===== 
    =========================== -->
    <!-- =====>> Check Area Starts <<===== 
    =========================== -->
    <section class="check-area bg-base--section">
        <div class="container">
            <div class="check-wrapper">
                <div class="check-left">
                    <h2 class="check-title text-white"> 30% off any diganestic let`s check </h2>
                    <p class="check-para text-white"> You can get upto 30% off for 45 days in here ! So Contact with Us </p>
                </div>
                <div class="check-button mt-lg-0 mt-4">
                    <a href="service.html" class="btn--custom btn--white btn--capsole"> Get Services </a>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Check Area End <<===== 
    =========================== -->
    <!-- =====>> Testimonial Area Starts <<===== 
    =========================== -->
    <section class="testimonial-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Client Testimonial </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mt-lg-4">
                <div class="col-lg-12 mt-4">
                    <div class="testimonial-slider">
                        <div class="single-testimonial wow animated slideInDown" data-wow-delay=".3s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small1.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Marina Tusa </h4>
                                    <p class="author-para"> Housewief </p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial wow animated slideInUp" data-wow-delay=".3s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small2.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Karina Nisha </h4>
                                    <p class="author-para"> Businessman </p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial wow animated slideInDown" data-wow-delay=".3s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small1.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Marina Tusa </h4>
                                    <p class="author-para"> Housewief </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Testimonial Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
    {% endblock %}
