{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Our Service </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> SERVICE </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Service Area Starts <<===== 
    =========================== -->
    <section class="service-area pt-120 pb-120">
        <div class="container">
            <div class="row gy-4">
            {% for x in data %}
              <div class="col-lg-4 col-md-6 wow animated slideInDown" data-wow-delay=".2s">
                     <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service1.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title" style="text-transform: uppercase;"> <a href="#"> {{x.department}}</a> </h4>
                            <p class="common-para" style="text-transform: uppercase;"> {{x.description}} </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <!-- <div class="col-lg-4 col-md-6 wow animated slideInUp" data-wow-delay=".3s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service2.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Dental Surgery </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-6 wow animated slideInDown" data-wow-delay=".3s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service3.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Ophthalmology </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-6 wow animated slideInUp" data-wow-delay=".3s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service4.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Outpatient Surgery </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div> -->
               <!--  <div class="col-lg-4 col-md-6 wow animated slideInDown" data-wow-delay=".3s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service5.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Gynaecological </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-6 wow animated slideInUp" data-wow-delay=".3s">
                    <div class="single-service">
                        <div class="service-icon">
                            <img src="/static/assets/img/home/service6.png" alt="">
                        </div>
                        <div class="service-contents">
                            <h4 class="common-title"> <a href="service-details.html"> Laboratory Analysis </a> </h4>
                            <p class="common-para"> Lorem ipsum dolor sit amenuodales massa turpis cursus iaculis urna nam. Ultricies sapien fusce </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- =====>> Service Area End <<===== 
    =========================== -->
    <!-- =====>> Appoinment Area Starts <<===== 
    =========================== -->
    <section class="service-appoinment-area bg--section pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
                <div class="col-xl-6 col-lg-5 mt-5 mt-lg-0 wow animated slideInLeft" data-wow-delay=".3s">
                    <!-- <div class="service-appoinment">
                        <div class="appoinment-inner">
                            <h3 class="appoinment-heading"> Book Appoinment </h3>
                            <div class="appoinment-border"></div>
                            <div class="appoinment-form">
                                <form action="#" class="custom-form">
                                    <div class="single-appoinment">
                                        <select>
                                            <option value="1">Select Depertment</option>
                                            <option value="2">Select Depertment</option>
                                            <option value="3">Select Depertment</option>
                                            <option value="4">Select Depertment</option>
                                            <option value="5">Select Depertment</option>
                                            </select>
                                    </div>
                                    <div class="single-appoinment">
                                        <select>
                                            <option value="1">Select Doctor</option>
                                            <option value="2">Select Doctor</option>
                                            <option value="3">Select Doctor</option>
                                            <option value="4">Select Doctor</option>
                                            <option value="5">Select Doctor</option>
                                        </select>
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control" type="text" name="name" placeholder="Full Name">
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control" type="tel" name="phone" placeholder="Phone Number">
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control date-input" data-date-format="mm/dd/yyyy" placeholder="Appoinment Date">
                                    </div>
                                    <button type="submit"> BOOK YOUR APPOINMENT </button>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <div class="service-appoinment-wrapper">
                        <div class="section-title text-left">
                            <h2 class="section-heading"> why people get services from in here </h2>
                            <div class="section-border"></div>
                            <p class="section-para"> Ridiculus elit amet sagittis arcu cras ornare, amet a amet urna viIpsum sociosqu. Mi consequat nec, per urna sed consectetuer sed anding modi lorem mattis lorem, tellus mauris ut sed. </p>
                        </div>
                        <div class="service-appoinment-right">
                            <p class="common-para"> Vestibulum vehicula in lacus, sit at nullam sit id vitae volutpat, at nunc at, pellentesque dictum diam. Vivamus id tempus nec pellentesque nibh odio, cras accusamus vitae dignissimos nulla, </p>
                            <ul class="appoinment-list">
                                <li> <i class="fa fa-check" aria-hidden="true"></i> Ridiculus elit amet sagittis arcu cras ornare </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> condimentum pulvinar velit </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> Vestibulum tellus, tellus orci nec donec nonummy. </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> Suspendisse fusce, et suspendisse tincidunt. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Appoinment Area End <<===== 
    =========================== -->
    <!-- =====>> Testimonial Area Starts <<===== 
    =========================== -->
    <section class="testimonial-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h2 class="section-heading"> Client Testimonial </h2>
                        <div class="section-border"></div>
                        <p class="section-para"> Condimentum rutrum placerat egestas condimentum mi eros. Eleifend cras quirntum Feugiat elit placerat. Diam tempor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mt-lg-4">
                <div class="col-lg-12 mt-4">
                    <div class="testimonial-slider">
                        <div class="single-testimonial wow animated slideInDown" data-wow-delay=".3s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small1.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Marina Tusa </h4>
                                    <p class="author-para"> Housewief </p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial wow animated slideInUp" data-wow-delay=".3s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small2.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Karina Nisha </h4>
                                    <p class="author-para"> Businessman </p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial wow animated slideInDown" data-wow-delay=".3s">
                            <div class="testimonial-top">
                                <i class="las la-quote-left"></i>
                                <span class="testimonial-para"> Pellentesque dictum diam. Vivamus pltenibh odio cras accusamus vitae dignissimos nulla volutpat nec, vel scelerisque vestibulum, integarcu lectus id maecenas.  </span>
                            </div>
                            <div class="testimonial-author">
                                <div class="author-image">
                                    <img src="/static/assets/img/home/testimonial-small1.jpg" alt="">
                                </div>
                                <div class="author-details">
                                    <h4 class="author-title"> Marina Tusa </h4>
                                    <p class="author-para"> Housewief </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Testimonial Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
    {% endblock %}
