{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Service Details </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> SERVICE DETAILS </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Service Area Starts <<===== 
    =========================== -->
    <section class="service-details-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-8">
                    <div class="service-left-content">
                        <div class="service-details-content">
                            <h3 class="service-details-title fof-open-sans"> Got Stuck? Try get services To Streamline Your Cardiology </h3>
                            <p class="common-para"> Lectus pulvinar lacus et mi in interdum, volutpat vitae lorem viverra, in et ad ipsum habitasse orci quisque. Odio augue ut felis netus ratione. Dignissim cursus, velit metus, porta ad nec magnvpat molestie ligula, lorem et
                                cubilia cras sapien nunc. Quam vestibulum integer, curabitur in iMagna dignissim diam nibh, sed sed urna cras lectus amet tellus, aliquam porttitor lacinia velit blandit orci odio justo, vel enim sed sed. Donec erat in
                                libero. Nunc fusce laoreet lectus nam nam, et aut neque fusce, non libero sed luctus aptent. Fusce vitae integer vestibulum nisl mauris sit, integer donec, posuere vel, lobortis dictum. Eros aenean a. Tempor at feugiat
                                arcu, pretium pharetra et sociis. Curabitur urna odio cum, ultricies rutrum pede. </p>
                            <ul class="details-list">
                                <li> <i class="fa fa-check" aria-hidden="true"></i> Liver Function Tests. The Liver Function Tests (LFT)ed </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> Full Blood Examination. </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> TSH (Thyroid Stimulating Hormone) Quantification Urinalysis. </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> INR (International Normalized Ratio) </li>
                            </ul>
                            <div class="service-image">
                                <img src="/static/assets/img/service/service-details.jpg" alt="">
                            </div>
                            <h4 class="common-title fs-22"> Benefits of Cardiology Services </h4>
                            <p class="common-para"> Diam error molestie consequat suscipit, amet vivamus ad gravida nibh euismod, congue intdum ut erat. Aliquam sed in, quisque elit non, et ligula in accumsan scelerisque consectetuer at. Venenatis ullamcorper diam vitae, faucibus
                                amet turpis leo pede risus, vitae mattis sed ut, justo lacinia orci amet augue consequat, erat phasellus imperdiet laoreet nisl morbi quis. </p>
                            <h4 class="common-title fs-22"> Important of Cardiology </h4>
                            <p class="common-para"> Diam error molestie consequat suscipit, amet vivamus ad gravida nibh euismod, congue intdum ut erat. Aliquam sed in, quisque elit non, et ligula in accumsan scelerisque consectetuer at. Venenatis ullamcorper diam vitae, faucibus
                                amet turpis leo pede risus, vitae mattis sed ut, justo lacinia orci amet augue consequat, erat phasellus imperdiet laoreet nisl morbi quis. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 mt-5 mt-lg-0">
                    <div class="service-details-right">
                        <form action="#" class="search-form">
                            <input class="form--control form-control" type="text" name="search" placeholder="Type Keyword">
                            <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </form>
                        <div class="single-right-services">
                            <h5 class="single-right-title"> Others Services </h5>
                            <ul class="service-right-list">
                                <li><a href="javascript:void(0)"> Gynecology </a></li>
                                <li><a href="javascript:void(0)"> Cardiology </a></li>
                                <li><a href="javascript:void(0)"> Dental Surgery </a></li>
                                <li><a href="javascript:void(0)"> Laboratory Analysis </a></li>
                                <li><a href="javascript:void(0)"> Medical Checkup </a></li>
                            </ul>
                        </div>
                        <div class="single-right-services">
                            <h5 class="single-right-title"> Appoinment </h5>
                            <div class="appoinment-form">
                                <form action="#" class="custom-form">
                                    <div class="single-appoinment">
                                        <select>
                                            <option value="1">Select Depertment</option>
                                            <option value="2">Select Depertment</option>
                                            <option value="3">Select Depertment</option>
                                            <option value="4">Select Depertment</option>
                                            <option value="5">Select Depertment</option>
                                        </select>
                                    </div>
                                    <div class="single-appoinment">
                                        <select>
                                            <option value="1">Select Doctor</option>
                                            <option value="2">Select Doctor</option>
                                            <option value="3">Select Doctor</option>
                                            <option value="4">Select Doctor</option>
                                            <option value="5">Select Doctor</option>
                                        </select>
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control" type="text" name="name" placeholder="Full Name">
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control" type="tel" name="phone" placeholder="Phone Number">
                                    </div>
                                    <div class="single-appoinment">
                                        <input class="form--control form-control date-input" data-date-format="mm/dd/yyyy" placeholder="Appoinment Date">
                                    </div>
                                    <button type="submit"> BOOK YOUR APPOINMENT </button>
                                </form>
                            </div>
                        </div>
                        <div class="single-right-services">
                            <h5 class="single-right-title"> Download Broucher </h5>
                            <ul class="service-right-list">
                                <li><a href="javascript:void(0)"> PDF Document <i class="fa fa-download" aria-hidden="true"></i> </a></li>
                                <li><a href="javascript:void(0)"> Tips for Health <i class="fa fa-download" aria-hidden="true"></i> </a></li>
                                <li><a href="javascript:void(0)"> Medical Research <i class="fa fa-download" aria-hidden="true"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Service Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
    {% endblock %}
