{% extends 'headerfooter.html' %}
    {% block content %}
    <!-- End SearchBar -->
    <!-- =====>> End Header-area <<===== 
    =========================== -->
    <!-- =====>> Banner Area Starts <<===== 
    =========================== -->
    <section class="banner-area banner-area-inner" data-background="/static/assets/img/about/about-banner.jpg">
        <div class="container">
            <div class="banner-contents">
                <h2 class="banner-title"> Terms Of Services </h2>
            </div>
        </div>
        <div class="banner-bottom">
            <div class="container">
                <ul class="banner-list">
                    <li> <i class="las la-home"></i> <a href="index.html"> HOME </a> </li>
                    <li> <i class="las la-angle-double-right"></i> TERMS OF SERVICE </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- =====>> Banner Area End <<===== 
    =========================== -->
    <!-- =====>> Terms Of Service Area Starts <<===== 
    =========================== -->
    <section class="terms-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="term-list-wrapper">
                        <ul class="term-list">
                            <li> <a class="nav-link" href="#overview"> Overview </a> </li>
                            <li> <a class="nav-link" href="#collection"> Data Collection & Use </a> </li>
                            <li> <a class="nav-link" href="#cookies"> Cookies Data </a> </li>
                            <li> <a class="nav-link" href="#security"> Data Security </a> </li>
                            <li> <a class="nav-link" href="#information"> Customer Information </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="terms-details-wrapper">
                        <div id="overview" class="single-terms">
                            <h3 class="terms-title"> Overview </h3>
                            <p class="common-para"> Nullam turpis dolorem, vivamus placerat in donec est, nonummy tristique massa a, dui felis inNulla lorem aenean montes varius massula sed, ut at ante, quis velit, at amet amet placerat. Vestibulum in porttitsum eros vel in,
                                imperdiet amet aliquam et purus dictum. In nunc nulla orci. A massa curabitur, etiam iure ulum, blandit ullamcorper, justo at aenean pulvinar. Felis aliquam hac duis et feugiat eu. Duis feugiat volutpat bibendum, eget a
                                nisl est eros, nibh metus placerat faucibus penatibus, natoque diam. </p>
                        </div>
                        <div id="collection" class="single-terms">
                            <h3 class="terms-title"> Consent and Information Collection and Use </h3>
                            <p class="common-para"> Rictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet,congue penatibus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis pagna debitis, placerat
                                vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasummodo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amet imperdiet feugiat. Enim lacus
                                eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. Porttitor praesent facilisis aliquet. </p>
                            <ul class="terms-inner-list">
                                <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> There are many variations of passages of Lorem available, but the majority </li>
                                <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Finibus onorum et alorum" by icero classical lite rature, discovered </li>
                                <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> There are many variations of passages of Lorem available, but the majority </li>
                                <li> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Finibus onorum et alorum" by icero classical lite rature, discovered </li>
                            </ul>
                            <p class="common-para"> Eictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dicongue pbus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas tpurgna debitis, plarat
                                vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.commoaugue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor ametperdiet fgiat. Enim
                                lacus eu duisest. </p>
                        </div>
                        <div id="cookies" class="single-terms">
                            <h3 class="terms-title"> Cookies and Log Files </h3>
                            <p class="common-para"> Dictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliqu dicongen pebus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas tpmagna debitis plarat vestibulum
                                commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.commodo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodoostie dolor amet imperdiet feugiat. Enim lacus
                                eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. nisl est eros, nibh metus placerat faucibus penatibus, natoque diam. </p>
                        </div>
                        <div id="security" class="single-terms">
                            <h3 class="terms-title"> Data Security and Retention </h3>
                            <p class="common-para"> Aictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendisjusget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis purusebiti placerat
                                vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.modo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amemrdiet feugiat. Enim
                                lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. </p>
                        </div>
                        <div id="information" class="single-terms">
                            <h3 class="terms-title"> Information Form Customer </h3>
                            <p class="common-para"> Aictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendisjusget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis purusebiti placerat
                                vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.modo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amemrdiet feugiat. Enim
                                lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> Terms Of Service Area End <<===== 
    =========================== -->
    <!-- =====>> Brands Area Starts <<===== 
    =========================== -->
    <div class="brands-area">
        <div class="container">
            <div class="brands-wrapper">
                <div class="brands-slider">
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands1.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands2.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands4.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands5.png" alt=""> </a>
                    </div>
                    <div class="single-brands">
                        <a class="brand-img" href="javascript:void(0)"> <img src="/static/assets/img/home/brands3.png" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =====>> Brands Area End <<===== 
    =========================== -->
    <!-- =====>> Footer Area Starts <<===== 
    =========================== -->
    {% endblock %}
