{% extends 'admin/headerfooter.html' %}
    {% block content %} 
<!-- <body> -->
   <!--/content-inner-->
	<!-- <div class="left-content" style="float:none;width:100% !important">
	 -->
		<!-- header-starts -->
			<!-- <div class="header-section"> -->
						<!--menu-right-->
						<!-- <div class="top_menu">
						          							   		
							<div class="clearfix"></div>	
								</ul>
							</div>
							<div class="clearfix"></div> -->	
							<!--//profile_details-->
						<!-- </div> -->
						<!--//menu-right-->
					<!-- <div class="clearfix"></div>
				</div> -->
						<!--outter-wp-->
							<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="/admin_index/">Home</a></li>
											<li class="active">Tables</li>
										</ol>
									   </div>
								  <!--//sub-heard-part-->
									<div class="graph-visual tables-main">
											<h2 class="inner-tittle">Doctor details Table</h2>
												<div class="graph">
														<div class="tables">
																
																<table class="table">
																	<thead>
																		<tr>
																		  <th>#</th>
																		  <th>Doctor Name</th>
																		  <th>Department</th>
																		  <th>Patient Name</th>
																		  <th>Email</th>
																		  <th>Phone Number</th>
																		  <th>Appoinment Date</th>
																        </tr>
																	</thead>
																	<tbody>

																		{% for x in details %}
																		<tr>
																		<th scope="row">{{forloop.counter}}</th>
								                                        <td>{{x.docid.doctorname}}</td>
								                                        <td>{{x.docid.department.department}}</td>
								                                        <td>{{x.name}}</td>
								                                        <td>{{x.email}}</td>
								                                        <td>{{x.phonenumber}}</td>
								                                        <td>{{x.date}}</td>
								                                        
								                                        </tr>
																	    {% endfor %} 
																		
																	</tbody>
																</table>
															</div>
												
										        </div>
												
									<!--//outer-wp-->
									</div>
								
							
				<!--//content-inner-->
			<!--/sidebar-menu-->
			
	</div>
			
	 {% endblock %}