<!DOCTYPE HTML>
<html>
<head>
<title>Augment an Admin Panel Category Flat Bootstrap Responsive Web Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/static/backend/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/backend/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/static/backend/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="/static/backend/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="/static/backend/js/jquery-1.10.2.min.js"></script>
<!--clock init-->
</head>


                        <div class="error-top">
                        <h2 class="inner-tittle page">Augment</h2>
                        <div class="login">
                        <h3 class="inner-tittle t-inner"> Send Message </h3>
                        <div class="section-border"></div>
                        <form action="/admin_contacts/" method="post" class="custom-form contact--form">
                            {% csrf_token %}
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="name" placeholder="Your Name">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="email" placeholder="Email">
                            </div>
                            <div class="single-appoinment">
                                <input class="form--control form-control" type="text" name="phonenumber" placeholder="Phone Number">
                            </div>
                            <div class="single-appoinment">
                                <textarea class="form--control form-control form--message" name="message" placeholder="Write Messages"></textarea>
                            </div>
                            <button type="submit"> SEND MESSAGES </button>
                        </form>
                    </div>
                </div>

                <div class="footer">
                <div class="error-btn">
                <a class="read fourth" href="index.html">Return to Home</a>
                </div>
                <p>&copy 2016 Augment . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts.</a></p>
             </div>
                                    <!--footer section end-->
                                    <!--/404-->
<!--js -->
<script src="/static/backend/js/jquery.nicescroll.js"></script>
<script src="/static/backend/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="/static/backend/js/bootstrap.min.js"></script>
</body>
</html>