{% extends 'admin/headerfooter.html' %}
    {% block content %} 
							<!--//outer-wp-->
								<div class="outter-wp">
											<!--/sub-heard-part-->
											 <div class="sub-heard-part">
													   <ol class="breadcrumb m-b-0">
															<li><a href="/admin_index/">Home</a></li>
															<li class="active">Forms</li>
														</ol>
											</div>	
											<!--/sub-heard-part-->	
												<!--/forms-->
													<div class="forms-main">
														<h2 class="inner-tittle">Basic Form </h2>
														<h4 style="color:red; text-align: center;">{{error}}</h4>
															<div class="graph-form">
																	<div class="form-body">
																		<form action="/admin_docforms/" method= "POST" enctype="multipart/form-data">
																		{% csrf_token %} 
																			<div class="form-group"> <label for="exampleInputEmail1">Doctor Name</label> <input type="text" name="name" class="form-control" id="exampleInputEmail1"> </div>

                                                                            <div class="form-group"> <label for="exampleInputFile">File input</label> <input type="file" name="image" id="exampleInputFile"></div> 
                                                                            
                                                                            <div class="form-group"> <label for="exampleInputEmail1">Department</label>
                                                                            <select name="department" class="form-control" style="height: 47px !important" value id="exampleInputPasswor=d1" >
                               	                                           <option>Department</option>
                               	                                          {% for x in details %}
                                                                            <option value="{{x.id}}">{{x.department}}</option>
                                                                            {% endfor %}
                                                                            </select>


                                                                            <div class="form-group"> <label for="exampleInputPassword1">Qualification</label> <input type="text" name="qualification" class="form-control" id="exampleInputPassword1"></div>
																		  
																		  <button type="submit" class="btn btn-default">Submit</button> 
																		</form> 
																	</div>

					                                         	 </div>
																										   
												</div>
											
								</div>
								
				
			
	</div>
			
	 {% endblock %}
		
	 