<!DOCTYPE HTML>
<html>
<head>
<title>Augment an Admin Panel Category Flat Bootstrap Responsive Web Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/static/backend/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/backend/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/static/backend/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="/static/backend/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="/static/backend/js/jquery-1.10.2.min.js"></script>
<!--clock init-->
</head> 
						<!--outter-wp-->
							<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="index.html">Home</a></li>
											<li class="active">Tables</li>
										</ol>
									   </div>
								  <!--//sub-heard-part-->
									<div class="graph-visual tables-main">
											<h2 class="inner-tittle">Doctor details Table</h2>
												<div class="graph">
														<div class="tables">
																
																<table class="table">
																	<thead>
																		<tr>
																		  <th>#</th>
																		  <th>Doctor Name</th>
																		  <th>Image</th>
																		  <th>Department</th>
																		  <th>Qualification</th>
																        </tr>
																	</thead>
																	<tbody>
																		{% for x in details %}
																		<tr>
																		<th scope="row">{{forloop.counter}}</th>
								                                        <td>{{x.doctorname}}</td>
								                                        <td><img src="{{x.image.url}}" width="200" height="200"></td>
								                                        <td>{{x.department}}</td>
								                                        <td>{{x.qualification}}</td>
								                                        <td><a href="/admin_service_update/?uid={{x.id}}"><i class="fa fa-edit"></i></a></td>
								                                        <td><a href="/admin_service_delete/?uidd={{x.id}}"><i class="fa-solid fa-trash"></i></a></td>
								                                        </tr>
																	    {% endfor %} 
																		<!-- <tr>
																		  <th scope="row">2</th>
																		  <td>Jacob</td>
																		  <td>Thornton</td>
																		  <td>@fat</td>
																		</tr>
																		<tr>
																		  <th scope="row">3</th>
																		  <td>Larry</td>
																		  <td>the Bird</td>
																		  <td>@twitter</td>
																		</tr> -->
																	</tbody>
																</table>
															</div>
												
										        </div>
												
									<!--//outer-wp-->
									<div class="footer">
												<div class="error-btn">
															<!-- <a class="read fourth" href="index.html">Return to Home</a> -->
															</div>
										   <p>&copy 2016 Augment . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts.</a></p>
										</div>
									<!--footer section end-->
									<!--/404-->
<!--js -->
<script src="/static/backend/js/jquery.nicescroll.js"></script>
<script src="/static/backend/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="/static/backend/js/bootstrap.min.js"></script>
</body>
</html>