{% extends 'admin/headerfooter.html' %}
    {% block content %} 
    <style type="text/css">
    	.top{
    		margin-top: 20%;
    	}
    </style>    
					<!-- //header-ends -->
						<div class="outter-wp">
							
								<!--custom-widgets-->
												<div class="custom-widgets" >
												   <div class="row-one top" style="display:flex; justify-content: center;">
												   	<h4 style="color:red; text-align: center;">{{success}}</h4>
														<div class="col-md-4 widget">

															<div class="stats-left ">
																<h5>Form</h5>
														<h3><a href="/admin_forms/">Service Details</a></h3>
															
															</div>
															
															<div class="clearfix"> </div>	
														</div>
														<div class="col-md-4 widget states-mdl">
															<div class="stats-left">
																<h5>Form</h5>
																<h3><a href="/admin_docforms/">Doctor Details</a></h3>
															</div>
															
															<div class="clearfix"> </div>	
														</div>
														
															<div class="clearfix"> </div>	
														</div>
														<div class="clearfix"> </div>	
													</div>
												</div>
												
														
																			
									
									<!-/charts-inner-->
									</div>
										<!--//outer-wp-->
									</div>
									 {% endblock %}