<!DOCTYPE HTML>
<html>
<head>
<title>Augment an Admin Panel Category Flat Bootstrap Responsive Web Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/static/backend/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/static/backend/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/static/backend/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="/static/backend/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="/static/backend/js/jquery-1.10.2.min.js"></script>
<!--clock init-->
</head> 
								<!--/login-->
								
									   <div class="error_page">
												<!--/login-top-->
												
													<div class="error-top">
													<h2 class="inner-tittle page">Augment</h2>
													    <div class="login">
													    	<h4 style="color:red; text-align: center;">{{error}}</h4>
														<h3 class="inner-tittle t-inner">Register</h3>
																<form action="/admin_register/" method="post">
																	{% csrf_token %}
																		<input type="text" name="email" class="text" value="E-mail address" pattern="[^ @]*@[^ @]*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}" >
																		<input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  id="password" >
																		<input type="password" name="confirmpassword"  id="confirm_password">
																		<div class="sign-up">
																					<input type="reset" value="Reset">
																					<input type="submit" onclick="myFunction()" value="Register" >
																			
																		</div>
																		<div class="clearfix"></div>
																		
																		<div class="new">
																			<p><label class="checkbox11"><input type="checkbox" name="checkbox"><i> </i>I agree with the terms</label></p>
																			<p class="sign">Already register ? <a href="/admin_login/">Login</a></p>
																			<div class="clearfix"></div>
																		</div>
																	</form>
														</div>
														
													</div>
													 </div>
													</body>
	     
												<!--//login-top-->
												<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
										  <script type="text/javascript">
										  	$('#password, #confirm_password').on('keyup', function () {
										  		if ($('#password').val() == $('#confirm_password').val()) {$('#confirm_password').css('border-color', 'green');} 
										  		else $('#confirm_password').css('border-color', 'red');
});
										  </script>
										  
										  	<!--//login-->
										    <!--footer section start-->
										<div class="footer">
												<div class="error-btn">
															<a class="read fourth" href="index.html">Return to Home</a>
															</div>
										   
										</div>
									<!--footer section end-->
									<!--/404-->
<!--js -->
<script src="/static/backend/js/jquery.nicescroll.js"></script>
<script src="/static/backend/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="/static/backend/js/bootstrap.min.js"></script>
</body>
</html>