{% extends 'admin/headerfooter.html' %}
    {% block content %} 
						<!--outter-wp-->
							<div class="outter-wp">
									<!--sub-heard-part-->
									  <div class="sub-heard-part">
									   <ol class="breadcrumb m-b-0">
											<li><a href="/admin_index/">Home</a></li>
											<li class="active">Tables</li>
										</ol>
									   </div>
								  <!--//sub-heard-part-->
									<div class="graph-visual tables-main">
											<h2 class="inner-tittle">Service Table</h2>
												<div class="graph">
														<div class="tables">
																
																<table class="table">
																	<thead>
																		<tr>
																		  <th>#</th>
																		  <th>Department</th>
																		  <th>Image</th>
																		  <th>Description</th>
																        </tr>
																	</thead>
																	<tbody>
																		{% for x in details %}
																		<tr>
																		<th scope="row">{{forloop.counter}}</th>
								                                        <td>{{x.department}}</td>
								                                        <td><img src="{{x.image.url}}" width="200" height="200"></td>
								                                        
								                                        <td>{{x.description}}</td>
								                                        <td><a href="/admin_service_update/?uid={{x.id}}"><i class="fa fa-edit"></i></a></td>
								                                        <td><a href="/admin_service_delete/?uidd={{x.id}}"><i class="fa fa-trash"></i></a></td>
								                                        </tr>
																	    {% endfor %} 
																		
																	</tbody>
																</table>
															</div>
												
										        </div>
												
									<!--//outer-wp-->
									</div>
								
							
				<!--//content-inner-->
			<!--/sidebar-menu-->
			
	</div>
			
	
		
	 {% endblock %}